

 <ngx-spinner></ngx-spinner>
 <ng-sidebar-container>
    <ng-sidebar [opened]="opened" mode="push" >
<div class="card">
<div class="card-header">
    <h3>Material Details</h3>

</div>
<div class="card-body">

    <table style="width: 95%;">

        <tr>
            <td style="width: 40%;">
    
                <div class="card" style="height: 650px;">
                    <div class="card-header">
                        <h5 class="card-title">Select Material Group</h5>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
    
                <div style="width: 100%; height: 450px; border-color: black; border-style: solid; border-width:thin; height: 450px; overflow-y: scroll;">
                
                    <span *ngFor='let obj1 of treeObj'  >
                        <i class="ft-chevron-right font-medium-1" *ngIf='!obj1.openCheck' (click)='toggleVisible(obj1)'></i>  
                        <i class="ft-chevron-down font-medium-1" *ngIf='obj1.openCheck' (click)='toggleVisible(obj1)'></i>  <span (click)='toggleVisible(obj1)'>  {{obj1.subGroup}} </span> <br>
            
                        <div  *ngIf='obj1.openCheck'>
                        
                        <span *ngFor='let obj2 of obj1.children' style="left: 32px; position: relative;"  >
                          <i class="ft-chevron-right font-medium-1" *ngIf='!obj2.openCheck' (click)='toggleVisible(obj2)'></i> 
                          <i class="ft-chevron-down font-medium-1" *ngIf='obj2.openCheck' (click)='toggleVisible(obj2)'></i>      <span (click)='toggleVisiblePlus(obj2)'>  {{obj2.subGroup}} </span><br>
                          
                          <div  *ngIf='obj2.openCheck'>
                          <span *ngFor='let obj3 of obj2.children' style="left: 32px; position: relative;" >
                            <i class="ft-chevron-right font-medium-1" *ngIf='!obj3.openCheck'  (click)='toggleVisible(obj3)'></i> 
                          <i class="ft-chevron-down font-medium-1" *ngIf='obj3.openCheck'  (click)='toggleVisible(obj3)'></i>      <span (click)='toggleVisiblePlus(obj3)'> {{obj3.subGroup}} </span> <br>
                          </span>
                          </div>
            
                        </span>
            
    
                </div>
                    </span>
                </div>
                        </div>
                    </div>
                </div>
                
    
               
    
    
            </td>
    
    
            <td style="width: 60%;">
    
                <div class="card" style="height: 650px;">
                    <div class="card-header">
                        <h5 class="card-title">Details</h5>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
    
                <div style="width: 100%; height: 600px; border-color: black; border-style: solid; border-width:thin;">
           <table style="width:100%">
            <tr>
                <td style="width: 25%;" align="right"> 
                  <span>  Material Code</span>
                </td>
                <td style="width: 25%;" align="left">
                    <input type="text" class="form-control" [(ngModel)]='item.Itemid' (input)='findDuplicate(1)'>
                </td>
                <td colspan="2" >
                    <span> <font color=red>
                       <b> {{checkDup}} </b> </font> </span>
                </td>
                
            </tr>
           
            <tr>
                <td style="width: 25%;" align="right" valigh="middle">
                <span>  Material Name </span>
                </td>
                <td colspan="3" align="left">
                    <input type="text" class="form-control" [(ngModel)]='item.ItemName' (input)='findDuplicate(2)'>
                </td>
            </tr>
            <tr>
                <td style="width: 25%;" align="right" valigh="middle">
                    <span>  Description </span>
                    </td>
                    <td colspan="3" align="left">
                        <textarea type="text"  class="form-control" [(ngModel)]='item.description'></textarea>
                    </td>
            </tr>
            <tr>
                <td style="width: 25%;" align="right">
                    <span>  Material Group</span>
                </td>
                <td colspan="3" align="left">
                    <input type="text" class="form-control" disabled [(ngModel)]='grop' >
                </td>
            </tr>
           
            <tr>
                <td style="width: 25%;" align="right">
                    <span>  Cost Price</span>
                </td>
                <td style="width: 25%;" align="left">
                    <input type="number" class="form-control" [(ngModel)]='item.costPrice'>
                </td>
                <td style="width: 25%;" align="right">
                    <span>  Selling Price</span>
                </td>
                <td style="width: 25%;" align="left">
                    <input type="number" class="form-control" [(ngModel)]='item.sellingPrice'>
                </td>
    
            </tr>
            <tr>
                <td style="width: 25%;" align="right">
                    <span>  Tax Filled</span>
                </td>
                <td style="width: 25%;" align="left">
                    <select class="form-control" [(ngModel)]="Tax">
                        <option value="-1">--Select--</option>
                        <option *ngFor="let tax of taxcode" [value]="tax.id">{{tax.taxCode}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 25%;" align="right">
                    <span>  Std Price</span>
                </td>
                <td style="width: 25%;" align="left">
                    <input type="number" class="form-control" [(ngModel)]='item.StdRate'>
                </td>
                <td style="width: 25%;" align="right">
                    <span>  Reorder Qty</span>
                </td>
                <td style="width: 25%;" align="left">
                    <input type="number" class="form-control" [(ngModel)]='item.ReOrderQty'>
                </td>
            </tr>
           
            <tr>
                <td style="width: 25%;">
                    &nbsp;
                </td>
                <td style="width: 25%;" align="left">
                  
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="customCheck" id="custom-check-2" [(ngModel)]='shelflife'>
        <label class="custom-control-label" for="custom-check-2"><span>Shelf Life</span></label>
      </div>
                </td>
                <td style="width: 25%;" align="left">
                    &nbsp;
                </td>
                <td style="width: 25%;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked name="customCheck" id="custom-check-1" [(ngModel)]='invreqd'>
                        <label class="custom-control-label" for="custom-check-1"><span>Inventory</span></label>
                      </div>
      
                </td>
            </tr>
            <tr>
                <td style="width: 25%;" align="right">Status</td>
                <td style="width: 25%;">
    
                    <select class="form-control" [(ngModel)]='item.Statu'>
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                    </select>
                </td>
                <td style="width: 25%;" align="right">Costing type</td>
                <td style="width: 25%;">
    
                    <select class="form-control" [disabled]='!costingtypecheck' [(ngModel)]='item.CostingType'>
                        <option value="-1">--Select--</option>
                        <option value="1">Allow Negative</option>
                        <option value="2">FIFO</option>
                        <option value="3">LIFO</option>
                        <option value="4">Batch System</option>
                        <option value="5">GIN System</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 25%;" align="right">Upload</td>
                <td style="width: 50%;">
                <input type="file" class="form-control"  (change)="UploadoriginalWord($event)"/>
                </td>
    
    
            </tr>
           
    <tr>
        <td colspan="4">
            <table style="width:100%">
            <tr>
                <td style="width: 25%;">
                    <span>  Unit</span>
                </td>
                <td style="width: 25%;">
                    <span>  Conversion Factor</span>
                </td>
                <td style="width: 25%;">
                    <span>  Std UM</span>
                </td>
                <td style="width: 25%;">
                &nbsp;
                </td>
            </tr>
    
            <tr>
                <td style="width: 25%;">
            
     <select class="form-control" [(ngModel)]='mainum'>
    
        <option *ngFor='let um of ums' value="{{um.recordId}}">{{um.um}}</option>
     </select>
                
                </td>
                <td style="width: 25%;">
               <input type="number"  [(ngModel)]='conve' class="form-control">
                </td>
                <td style="width: 25%;">
                
                    <select class="form-control" [(ngModel)]='stdum' [disabled]='umslist.length > 0'>
    
                        <option *ngFor='let um of ums' value="{{um.recordId}}">{{um.um}}</option>
                    </select>
                
                </td>
                <td style="width: 25%;">
                    <button type="button" class="btn btn-success round mr-1 mb-1" (click)='addUM()'>Add</button>
                </td>
            </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div style="overflow-y: scroll; width:100%; height: 120px ">
            <table style="width: 100%;">
                <tr style="background-color:navy;color: yellow;">
                    <td style="width: 5%;">#</td>
                    <td style="width: 30%;">Unit</td>
                    <td style="width: 30%;">Conversion</td>
                    <td style="width: 30%;">Std UM</td>
                    <td style="width: 5%;"></td>
                </tr>
                <tr *ngFor='let det of umslist;let i=index'>
                    <td style="width: 5%;">{{i+1}}</td>
                    <td style="width: 30%;">{{det.mainum}}</td>
                    <td style="width: 30%;">{{det.conve}}</td>
                    <td style="width: 30%;">{{det.stdum}}</td>
                    <td style="width: 5%;" *ngIf="deletebuttonenable">  <i class="ft-trash-2 font-medium-1" (click)='deleteUM(det)'></i></td>
                </tr>
            </table>
    
        </div>
      
        </td>
    </tr>
    
            </table>
        </div>
    
                        </div>
                    </div>
                </div>
                
    
            </td>
        </tr>
    
        <tr>
            <td colspan="2">
                <button type="button" class="btn-lg btn-danger mr-1 mb-1" *ngIf='delVisible' [disabled]='!delCheck' (click) ='delete()' >Delete</button>
                <button type="button" class="btn-lg btn-primary mr-1 mb-1" [disabled]='!creCheck' (click)='save()' >{{saveStr}}</button>
                <button type="button" class="btn-lg btn-dark mb-1" (click)='close()'>Close</button>
            </td>
        </tr>
    
    </table>
</div>
</div>


 
</ng-sidebar>
       
      
<div ng-sidebar-content>
    
  <nav *ngIf='!opened'>

<div class="card">
<div class="card-header">

  
    <h3>
        List of Materials
    </h3>
</div>
<div class="card-body">

</div>




    
<table style="width: 100%;">
    <tr>
        <td align="left" style="width: 50%;">
            <button type="button" *ngIf='!opened' class="btn-lg btn-success mr-1 mb-1" (click)='openNew()' id="new-button" >New</button>
            <!-- Tooltip Arrow -->
           <div
           class="tooltip-arrow"
           ngbTooltip="Click here to add a new item details!"
           placement="right"
           container="body"
           [ngClass]="{'paused': isArrowPaused}"
           (mouseenter)="stopArrowMovement()"
           (mouseleave)="startArrowMovement()"
         >
           <span class="arrow">🢦</span>
           </div>
            <button type="button" *ngIf='!opened' class="btn-lg btn-success mr-1 mb-1" routerLink="/inventory/bulk-upload"  >Bulk Upload</button>
        </td>
        <td align="right" style="width: 50%;">
         <div class="form-group has-search">
           <span class="fa fa-search form-control-feedback"></span>
           <input type="text" class="form-control" placeholder="Search" [(ngModel)]='searchtext' (input)='searchItems()' >
         </div>
        </td>
    </tr>
   </table>
   <ngb-pagination [collectionSize]="totalpages" (pageChange)="loadPage($event)" [(page)]="page4" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
 
   <table class="table m-0" style="width: 100%;">
       <thead class="thead-light">
         <tr>
           <th>#</th>
           <th>Material</th>
           <th>Group</th>
           <th>Min Qty</th>
           <th>Std UM</th>
           <th>Status</th>
           <th></th>
         </tr>
       </thead>
       <tbody>
          <!-- No Data Message -->
          <tr *ngIf="!items || items.length === 0">
            <td colspan="5">
              <div class="no-countries-message">
                <span class="warning-icon">⚠️</span>
                <span class="message-text">
                  The item details from your company cannot be found. Please click
                  the "New" button above to add item details.
                </span>
              </div>
            </td>
          </tr>
         <tr *ngFor='let item of items;let i=index'>
           <th scope="row" >{{(i+1)+((pageno-1)*PAGESIZE)}}</th>
           <td>{{item.itemname}}</td>
           <td>{{item.grp}}</td>
           <td>{{item.reorderqty}}</td>
           <td>{{item.stdum}}</td>
           <td>{{item.statu}}</td>
           <td *ngIf="modifybuttonenable"><i  *ngIf='!opened' class="ft-edit font-medium-1"(click)='openOld(item)'></i></td>
         </tr>
        
       </tbody>
     </table>
     </div>
  </nav>
 </div>
 </ng-sidebar-container>


<div  *ngIf='!authCheck'>
    <h1>You are not authorised to view this page</h1>
     </div>