<!--Statistics cards Starts-->



<div class="row" (resized)="onResized($event)">


    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-mint">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Bidding</h3>
                  <br>
                  <span>2121</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-wrench font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                    <br>
                    </div>
          </div>
        </div>
      </div>

   
    
    
    
    
        <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("pur")' >
          <div class="card gradient-purple-love">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h4 class="font-large-1 white mb-0">Procurements</h4>
                    <br>
                    <span>34</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="fa-barcode font-large-1"></i>
                  </div>
                </div>
              </div>
                    <div id="ft-tv" class=" ft-tbv mb-2">
            <br>
            </div>
            </div>
          </div>
        </div>
    
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
            <div class="card gradient-king-yna">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Construction Mgt</h3>
                      <br>
                      <span>13/39</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-note font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>

       
    
       
    
        
    
        <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("acc")'>
            <div class="card gradient-mint">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Accounts</h3>
                      <br>
                      <span>323</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="ft-dollar-sign font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("crm")'>
            <div class="card gradient-king-yna">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Inventory</h3>
                      <br>
                      <span>13/39</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-earphones font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>
    
    
     
    
    
    
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
            <div class="card gradient-ibiza-sunset">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Billing</h3>
                      <br>
                      <span>1234</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-bar-chart font-large-1"></i>
                    </div>
                  </div>
                </div>
                      <div id="ft-tv" class=" ft-tbv mb-2">
              <br>
              </div>
              </div>
            </div>
          </div>
    
    
      
    
    
    
    
          
    
          <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("hrd")'>
            <div class="card gradient-purple-bliss">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">HRD</h3>
                      <br>
                      <span>13/39</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-users font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>
    
    
          <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("mai")'>
            <div class="card gradient-man-of-steel" >
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Maintenance</h3>
                      <br>
                      <span>13/39</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-wrench font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>
    
    
         
    
    
          <div class="col-xl-3 col-lg-6 col-md-6 col-12">
            <div class="card gradient-purple-love">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Analysis</h3>
                      <br>
                      <span>13/39</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-pie-chart font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>
    
    
          <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("adm")'>
            <div class="card gradient-blackberry">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Admin</h3>
                      <br>
                      <span>13/39</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-settings font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>
      </div>
      <!--Statistics cards Ends-->
      
    
    
    
          
          <div class="col-xl-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Purchases to Sales Turnover Charts</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                      <apx-chart
                      [series]="lineAreaChartOptions.series"
                      [colors]="lineAreaChartOptions.colors"
                      [chart]="lineAreaChartOptions.chart"
                      [xaxis]="lineAreaChartOptions.xaxis"
                      [yaxis]="lineAreaChartOptions.yaxis"
                      [title]="lineAreaChartOptions.title"
                      [dataLabels]="lineAreaChartOptions.dataLabels"
                      [stroke]="lineAreaChartOptions.stroke"
                      [grid]="lineAreaChartOptions.grid"
                      [tooltip]="lineAreaChartOptions.tooltip"
                      [plotOptions]="lineAreaChartOptions.plotOptions"
                      [fill]="lineAreaChartOptions.fill"
                      [legend]="lineAreaChartOptions.legend"
                      [labels]="lineAreaChartOptions.labels"
                      [markers]="lineAreaChartOptions.markers"
                      [theme]="lineAreaChartOptions.theme"
                      [responsive]="lineAreaChartOptions.responsive"
                    ></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        
    