<div class="card">
    <div class="card-header">
        <h3>Call Types</h3>
        <hr />
    </div>
    <div class=card-body>

        <div class="row">
            <div class="col-md-2">
                <label class="form-label">Call Type</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]="formData.description" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-danger" value="Save" (click)="save()" />&nbsp;
                
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-dark" value="Close" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-stripped table-hover" style="width: 100%;border-radius:4px">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>#</th>
                            <th>Call Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of allrecords;let i=index;'>
                            <td>{{i+1}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <span class="ft-edit font-medium-1" (click)="editItem(item)"></span> &nbsp;
                                <span class="ft-trash font-medium-1" (click)="deleteitem(item)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>