<div *ngIf='tracheck==1'>
       <h3>
        List of In out details
    </h3>
    
    <table style="width: 100%;">
     <tr>
         <td align="right" style="width: 30%;">
              
 <div class="input-group">
     <input class="form-control" placeholder="yyyy-mm-dd" name="dp"   ngbDatepicker [(ngModel)]='listdat'  enabled='datCheck'
       #d2="ngbDatepicker">
     <div class="input-group-append">
       <div class="input-group-text" (click)="d2.toggle()">
         <i class="fa fa-calendar" style="cursor: pointer;"></i>
       </div>
     </div>
   </div>
       
         </td>
         <td align="left" style="width: 30%;">
             <button type="button" class="btn btn-secondary mr-1 mb-1" (click)='listAdd()' >Show</button>
         </td>
        
         <td align="right" style="width: 40%;" *ngIf="addbuttonenable">
             <button type="button" class="btn btn-success mr-1 mb-1" (click)='openNew()' >New</button>
         </td>
         
     </tr>
    </table>
    
    <table class="table m-0" style="width: 100%;">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Emp no</th>
            <th>Employee</th>
            <th>In</th>
            <th>Out</th>
             
            <th></th>
          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor='let det of empinouts;let i=index'>
            <th scope="row" >{{i+1}}</th>
            <td>{{det.empno}}</td>
            <td>{{det.empname}}</td>
            <td>{{det.fromTime}}</td>
            <td>{{det.toTime}}</td>
            <td *ngIf="modifybuttonenable"><i class="ft-edit font-medium-1"(click)='openOld(det)'></i></td>
           
          </tr>
         
        </tbody>
      </table>


    </div>

    <div *ngIf='tracheck==2'>
<table style="width: 70%;">
<tr>
    <td style="width: 25%;" align="right">Select Employee</td>
    <td style="width: 75%;">
        <ng-select [items]="employees" bindLabel="empname"  [(ngModel)]='emp'></ng-select>
    
    </td>
</tr>
<tr>
    <td style="width: 25%;" align="right">Emp no</td>
    <td style="width: 75%;"> 
    <input type="text" disabled class="form-control" [(ngModel)]='emp.empno'>
    </td>
</tr>
<tr>
    <td style="width: 25%;" align="right">Department</td>
    <td style="width: 75%;"> 
    <input type="text" disabled class="form-control" [(ngModel)]='emp.department'>
    </td>
</tr>
<tr>
    <td style="width: 25%;" align="right">Designation</td>
    <td style="width: 75%;"> 
    <input type="text" disabled class="form-control" [(ngModel)]='emp.designation'>
    </td>
</tr>
<tr>
    <td style="width: 25%;" align="right">Mobile</td>
    <td style="width: 75%;"> 
    <input type="text" disabled class="form-control" [(ngModel)]='emp.mobile'>
    </td>
</tr>
<tr>
    <td style="width: 25%;" align="right">From Time</td>
    <td style="width: 75%;"> 
  
    <input type="datetime-local" class="form-control"   [value]="fromtime | date:'yyyy-MM-dd'" (input)="fromtime=parseDate($event.target.value)">
    </td>
</tr>
<tr>
    <td style="width: 25%;" align="right">To Time</td>
    <td style="width: 75%;"> 
    <input type="datetime-local" class="form-control" [(ngModel)]='totime' [disabled] ='recordId==0'>
    </td>
</tr>
<tr>
    <td colspan="2">
        <button style="width: 200px;" class="btn btn-primary" (click)='save()'>Save</button>
        <button style="width: 200px;" class="btn btn-dark" (click)='close()'>Close</button>
    </td>
</tr>
</table>

    </div>