
<ngx-spinner></ngx-spinner>
<div> <!--Starting open-->
<h3>MIR Test Information </h3>
<table style="width:100%">
    <tr>
        <td style="width: 18%;" align="right">
                Test
        </td>
        <td style="width: 32%;">
        <select class="form-control" [(ngModel)]='testid'>

            <option value="-1">--Select--</option>
            <option *ngFor='let test of tests' value="{{test.recordId}}">{{test.testname}}</option>
        </select>
        </td>
        <td style="width: 18%;" align="right">
            Process
    </td>
    <td style="width: 32%;">
    <select class="form-control" [(ngModel)]='processid' (change)='findProcess()'>

        <option value="-1">--Select--</option>
        <option *ngFor='let proce of processes' value="{{proce.recordId}}">{{proce.processName}}</option>
    </select>
    </td>
    </tr>
    
</table>
<div class="row">
 
<div class="row">
    <div class="col-xl-8 col-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Select Batch Detail</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                 
                    <table class="table m-0" style="width: 100%;">
                        <thead class="thead-light">
                          <tr>
                            <th>#</th>
                            <th>Batch</th>
                         
                            <th>Item</th>
                           
                            <th>Qty</th>
                           
                            <th>Units</th>
                            <th>Incharge</th>
                              <th>Open</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!pendings || pendings.length === 0">
                                <td colspan="7">
                                  <div style="text-align: center; font-weight: bold;">
                                    <span style="font-size: 24px; margin-right: 5px;">⚠️</span>
                                    <span style="color: black;">The Process QC of your company cannot be found. Please select the "Test" above
                                      to view.</span>
                                  </div>
                                </td>
                              </tr>

                          <tr *ngFor='let line of pendings; let i=index'>
                           <th scope="row" > {{i+1}}</th>
                            <td>{{line.batchno}}</td>
                            <td>{{line.itemname}}</td>
                            <td>{{line.qty}}</td>
                            <td>{{line.uom}}</td>
                            
                            <td>{{line.productionincharge}}</td>
                            <td><i class="ft-edit font-medium-1" (click)='openLine(line)' *ngIf="modifybuttonenable"></i></td>
                          </tr>
                         
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
    </div>



    <div class="col-xl-4 col-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Line Detail</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                 
                    <table style="width: 100%;">
                    <tr>
                        <td style="width: 30%;" align="right"> Sno </td>
                        <td style="width: 70%;"> <input type="text" class="form-control" disabled value="{{line.Sno}}"> </td>
                    </tr>
                    <tr>
                        <td style="width: 30%;" align="right"> Item </td>
                        <td style="width: 70%;"> <input type="text"  class="form-control" disabled value="{{line.ItemName}}"> </td>
                    </tr>
                    <tr>
                        <td style="width: 30%;" align="right"> Batch </td>
                        <td style="width: 70%;"> <input type="text"  class="form-control" disabled value="{{line.Batchno}}"> </td>
                    </tr>
                    <tr>
                        <td style="width: 30%;" align="right"> Qty </td>
                        <td style="width: 70%;"> <input type="text"  class="form-control" disabled  value="{{line.Qty}} {{line.BranchId}}" >  </td>
                    </tr>
                    <tr>
                        <td style="width: 30%;" align="right"> Cost </td>
                        <td style="width: 70%;"> <input type="text"  class="form-control" disabled   value="{{line.Qty*line.Rat | number:'0.2'}}" >  </td>
                    </tr>
                    </table>
                    

                </div>
            </div>
        </div>
    </div>
</div>


</div>
 
<table style="width: 100%;">
<tr>
    <td style="width: 40%;">User / Inspected By</td>
    <td style="width: 10%;">Samples Collected</td>
    <td style="width: 10%;">Rectified</td>
    <td style="width: 10%;">Rejected</td>
    <td style="width: 12%;">Rectification Cost</td>
    <td style="width: 12%;">Rejected Value</td>
    <td style="width: 6%;">  &nbsp;</td>
</tr>
<tr>
    <td style="width: 40%;"> <input type="text" class="form-control" [(ngModel)]='username' disabled> </td>
    <td style="width: 10%;"><input type="number" class="form-control" [(ngModel)]='lineDet.CheckedQty'></td>
    <td style="width: 10%;"><input type="number" class="form-control" [(ngModel)]='lineDet.RectifiedQty'></td>
    <td style="width: 10%;"><input type="number" class="form-control" (input)='findRejectValue()' [(ngModel)]='lineDet.RejectedQty'></td>
    <td style="width: 12%;"><input type="number" class="form-control" [(ngModel)]='lineDet.rectificationCost'></td>
    <td style="width: 12%;"><input type="number" disabled class="form-control" [(ngModel)]='lineDet.ValueOfItem'></td>
    <td style="width: 6%;"> <button *ngIf='line.RecordId > 0' class="btn btn-success" (click)='addInfo()'>Add</button> </td>

</tr>
 
<tr>
    <td colspan="6">Comments</td>
</tr>
<tr>
    <td colspan="7"> <input type="text" class="form-control"  [(ngModel)]='lineDet.Comments'> </td>
</tr>
</table>

<div class="row">
    <!--
    <div class="col-xl-12 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Quality Details</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
               
                
                    <table class="table m-0" style="width: 100%;">
                        <thead class="thead-light">
                          <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th>Samples</th>
                            <th>Rectified</th>
                            <th>Rejected</th>
                            <th>Rectification Cost</th>
                            <th>Rejected Value</th>
                              <th>&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                         
                          <tr *ngFor='let line of lineDetails; let i=index'>
                           <th scope="row" > {{line.Lotno}}</th>
                            <td>{{line.ItemName}}</td>
                            <td>{{line.CheckedQty}}</td>
                            <td>{{line.RectifiedQty}}</td>
                            <td>{{line.RejectedQty}}</td>
                            <td>{{line.rectificationCost | number:'0.2'}}</td>
                            <td>{{line.ValueOfItem | number:'0.2'}}</td>
                            <td><i class="ft-trash font-medium-1" (click)='deleteInfo(line)' ></i></td>
                          </tr>
                         
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
    </div>-->

    <button class="btn-lg btn-primary" *ngIf="addbuttonenable"  (click)='saveQC()'>Submit</button>
</div>

 


</div><!--Closing open-->