
 <ngx-spinner></ngx-spinner>
 <ng-sidebar-container>
  <ng-sidebar [opened]="opened" mode="push" >
    <div class="card">
           <div class="card-header">
            <h3>
              Unit Details
            </h3>
           </div>
           <div class="card-body">
            <br>
            <table style="width: 40%;">
            <tr>
              <td style="width: 35%;">
                <span>Unit</span>
                  </td>
              <td style="width: 65%;">
                <input type="text" ngDefaultControl class="form-control" [(ngModel)]='uom' >
                  </td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button type="button" class="btn-lg btn-danger mr-1 mb-1" *ngIf='delVisible && deletebuttonenable' [disabled]='!delCheck' (click) ='deleteUM()' >Delete</button>
                <button type="button" class="btn-lg btn-primary mr-1 mb-1" [disabled]='!creCheck' (click)='saveUM()' >{{saveStr}}</button>
                <button type="button" class="btn-lg btn-dark mb-1" (click)='close()'>Close</button>
              </td>
            </tr>
            </table>
           </div>
    </div>
     
   
 

</ng-sidebar>
       
      
<div ng-sidebar-content>
    
  <nav *ngIf='!opened'>
    <div class="card">
      <div class="card-header">
        <h3>
          List of Units
      </h3>
      </div>
      <div class="card-body">
        <table style="width: 100%;">
          <tr>
              <td align="left" *ngIf="addbuttonenable">
                <button
                type="button"
                *ngIf="!opened"
                class="btn-lg btn-success mr-1 mb-1"
                (click)="openNew()"
                id="new-button"
              >
                New
              </button>
              <!-- Tooltip Arrow -->
              <div
                class="tooltip-arrow"
                ngbTooltip="Click here to add a new Units!"
                placement="right"
                container="body"
                [ngClass]="{ paused: isArrowPaused }"
                (mouseenter)="stopArrowMovement()"
                (mouseleave)="startArrowMovement()"
              >
                <span class="arrow">🢦</span>
              </div>
              </td>
          </tr>
          </table>
          
          <table class="table m-0" style="width: 40%;">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Unit</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
               
                <tr *ngFor='let um of ums; let i=index'>
                  <th scope="row" >{{i+1}}</th>
                  <td>{{um.um}}</td>
                  <td *ngIf="modifybuttonenable"><i class="ft-edit font-medium-1" *ngIf='!opened' (click)='openOld(um)' ></i></td>
                </tr>
               
              </tbody>
            </table>
      </div>
    </div>
       
        
      
</nav>
  </div>
 </ng-sidebar-container>
 
  <div *ngIf='!authCheck'>

    <h1>You are not authorised to view this page</h1>
  </div>