<!--Statistics cards Starts-->



<div class="row" (resized)="onResized($event)">

  
  <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("frd")'>
    <div class="card gradient-mint">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">Front Desk</h3>
              <br>
              <span>323</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-screen-desktop font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="ft-tv" class=" ft-tbv mb-2">
                  <br>
                </div>
      </div>
    </div>
  </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("stu")' >
        <div class="card gradient-purple-love">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h4 class="font-large-1 white mb-0">Academics</h4>
                  <br>
                  <span>34</span>
                </div>
               
                <div class="media-right white text-right">
                  <i class="ft-users font-large-1"></i>
                </div>
              </div>
            </div>
                  <div id="ft-tv" class=" ft-tbv mb-2">
          <br>
          </div>
          </div>
        </div>
      </div>

      
    
      <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("act")'>
        <div class="card gradient-ibiza-sunset">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Activities</h3>
                  <br>
                  <span>13/39</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                      <br>
                    </div>
          </div>
        </div>
      </div>
  


      <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("lib")'>
        <div class="card gradient-king-yna">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Library</h3>
                  <br>
                  <span>13/39</span>
                </div>
                <div class="media-right white text-right">
                  <i class="ft-book-open font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                      <br>
                    </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("veh")'>
        <div class="card gradient-ibiza-sunset">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Vehicles</h3>
                  <br>
                  <span>2121</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-wrench font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                    <br>
                    </div>
          </div>
        </div>
      </div>
 
     
    
        <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("hos")'>
          <div class="card gradient-king-yna">
            <div class="card-content">
              <div class="card-body py-0">
                <div class="media pb-1">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 white mb-0">Hostels</h3>
                    <br>
                    <span>13/39</span>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-note font-large-1"></i>
                  </div>
                </div>
              </div>
              <div id="ft-tv" class=" ft-tbv mb-2">
                        <br>
                      </div>
            </div>
          </div>
        </div>
    
    
       
      
    
    
    
    
          
    
          <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("hrd")'>
            <div class="card gradient-purple-bliss">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Staff</h3>
                      <br>
                      <span>13/39</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-users font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>
    

          
  <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("inv")'>
    <div class="card gradient-mint">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">Inventory</h3>
              <br>
              <span>323</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-basket-loaded font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="ft-tv" class=" ft-tbv mb-2">
                  <br>
                </div>
      </div>
    </div>
  </div>

<!--
  <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("acc")'>
    <div class="card gradient-purple-love">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">Accounts</h3>
              <br>
              <span>323</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-dollar-sign font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="ft-tv" class=" ft-tbv mb-2">
                  <br>
                </div>
      </div>
    </div>
  </div>
  -->
    
          <div class="col-xl-3 col-lg-6 col-md-6 col-12" (click)='setModule("adm")'>
            <div class="card gradient-blackberry">
              <div class="card-content">
                <div class="card-body py-0">
                  <div class="media pb-1">
                    <div class="media-body white text-left">
                      <h3 class="font-large-1 white mb-0">Admin</h3>
                      <br>
                      <span>13/39</span>
                    </div>
                    <div class="media-right white text-right">
                      <i class="icon-settings font-large-1"></i>
                    </div>
                  </div>
                </div>
                <div id="ft-tv" class=" ft-tbv mb-2">
                          <br>
                        </div>
              </div>
            </div>
          </div>
      </div>
      <!--Statistics cards Ends-->
      


      <div class="row">
        <!-- Radial Bar Chart starts -->
        <div class="col-lg-3 col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Admission</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <apx-chart
                          [series]="admissionValues"
                          [colors]="radialBarChartOptions.colors"
                          [chart]="radialBarChartOptions.chart"
                          [xaxis]="radialBarChartOptions.xaxis"
                          [yaxis]="radialBarChartOptions.yaxis"
                          [title]="radialBarChartOptions.title"
                          [dataLabels]="radialBarChartOptions.dataLabels"
                          [stroke]="radialBarChartOptions.stroke"
                          [grid]="radialBarChartOptions.grid"
                          [tooltip]="radialBarChartOptions.tooltip"
                          [plotOptions]="radialBarChartOptions.plotOptions"
                          [fill]="radialBarChartOptions.fill"
                          [legend]="radialBarChartOptions.legend"
                          [labels]="admissionLables"
                          [markers]="radialBarChartOptions.markers"
                          [theme]="radialBarChartOptions.theme"
                          [responsive]="radialBarChartOptions.responsive"
                        ></apx-chart>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-6">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Term Fees</h4>
              </div>
              <div class="card-content">
                  <div class="card-body">
                      <apx-chart
                        [series]="termFeeValues"
                        [colors]="radialBarChartOptions2.colors"
                        [chart]="radialBarChartOptions2.chart"
                        [xaxis]="radialBarChartOptions2.xaxis"
                        [yaxis]="radialBarChartOptions2.yaxis"
                        [title]="radialBarChartOptions2.title"
                        [dataLabels]="radialBarChartOptions2.dataLabels"
                        [stroke]="radialBarChartOptions2.stroke"
                        [grid]="radialBarChartOptions2.grid"
                        [tooltip]="radialBarChartOptions2.tooltip"
                        [plotOptions]="radialBarChartOptions2.plotOptions"
                        [fill]="radialBarChartOptions2.fill"
                        [legend]="radialBarChartOptions2.legend"
                        [labels]="termFeeLables"
                        [markers]="radialBarChartOptions2.markers"
                        [theme]="radialBarChartOptions2.theme"
                        [responsive]="radialBarChartOptions2.responsive"
                      ></apx-chart>
                  </div>
              </div>
          </div>
      </div>


      <div class="col-lg-3 col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Total Fees</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <apx-chart
                      [series]="totalFeeValues"
                      [colors]="radialBarChartOptions3.colors"
                      [chart]="radialBarChartOptions3.chart"
                      [xaxis]="radialBarChartOptions3.xaxis"
                      [yaxis]="radialBarChartOptions3.yaxis"
                      [title]="radialBarChartOptions3.title"
                      [dataLabels]="radialBarChartOptions3.dataLabels"
                      [stroke]="radialBarChartOptions3.stroke"
                      [grid]="radialBarChartOptions3.grid"
                      [tooltip]="radialBarChartOptions3.tooltip"
                      [plotOptions]="radialBarChartOptions3.plotOptions"
                      [fill]="radialBarChartOptions3.fill"
                      [legend]="radialBarChartOptions3.legend"
                      [labels]="totalFeeLables"
                      [markers]="radialBarChartOptions3.markers"
                      [theme]="radialBarChartOptions3.theme"
                      [responsive]="radialBarChartOptions3.responsive"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-6">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Other Fees</h4>
          </div>
          <div class="card-content">
              <div class="card-body">
                  <apx-chart
                    [series]="otherFeeValues"
                    [colors]="radialBarChartOptions4.colors"
                    [chart]="radialBarChartOptions4.chart"
                    [xaxis]="radialBarChartOptions4.xaxis"
                    [yaxis]="radialBarChartOptions4.yaxis"
                    [title]="radialBarChartOptions4.title"
                    [dataLabels]="radialBarChartOptions4.dataLabels"
                    [stroke]="radialBarChartOptions4.stroke"
                    [grid]="radialBarChartOptions4.grid"
                    [tooltip]="radialBarChartOptions4.tooltip"
                    [plotOptions]="radialBarChartOptions4.plotOptions"
                    [fill]="radialBarChartOptions4.fill"
                    [legend]="radialBarChartOptions4.legend"
                    [labels]="otherFeeLables"
                    [markers]="radialBarChartOptions4.markers"
                    [theme]="radialBarChartOptions4.theme"
                    [responsive]="radialBarChartOptions4.responsive"
                  ></apx-chart>
              </div>
          </div>
      </div>
  </div>

    
        </div>
    

        <div class="row">
<div class="col-lg-6 col-12">
  <div class="card">
      <div class="card-header">
          <h4 class="card-title">Staff Birthdays</h4>
      </div>
      <div class="card-content">
       

          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                   
                  </div>
                  <div class="card-content">
                    <div class="card-body">
                     
                      <div class="table-responsive">

                        <div style="width:99%; height: 200px; overflow-x: scroll;overflow-y: scroll;">
                        <table class="table m-0">
                          <thead class="thead-light">
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Designation</th>
                                  <th>Department</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor='let sta of staff; let i=index'>
                              <th scope="row">{{i+1}}</th>
                              <td> {{sta.name}} </td>
                              <td>{{sta.desig}}</td>
                              <td>{{sta.department}}</td>
                            </tr>
                           
                          </tbody>
                        </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>



<div class="col-lg-6 col-12">
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Student Birthdays</h4>
    </div>
    <div class="card-content">
  
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                 
                </div>
                <div class="card-content">
                  <div class="card-body">
                   
                    <div class="table-responsive">
                      <div style="width:99%; height: 200px; overflow-x: scroll;overflow-y: scroll;">
                      <table class="table m-0">
                        <thead class="thead-light">
                          <tr>
                            <th>#</th>
                            <th>Role no</th>
                            <th>Student</th>
                            <th>Class</th>
                            <th>Section</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let stu of students; let i=index'>
                              <th scope="row">{{i+1}}</th>
                              <td> {{stu.admissionno}} </td>
                              <td> {{stu.name}} </td>
                              <td>{{stu.class}}</td>
                              <td>{{stu.section}}</td>
                            </tr>
                         
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>


  </div>