
 <ngx-spinner></ngx-spinner>
  <div *ngIf='opened'>
     <h3>
     HRD Departments Details
   </h3>
   <br>
   <table style="width: 50%;">
   <tr>
    <td>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Select HRD Departments</h5>
        </div>
        <div class="card-content">
            <div class="card-body">

    <div style="width: 100%; border-color: black; border-style: solid; border-width:thin; height: 360px; overflow-y: scroll;">
    
        <span *ngFor='let obj1 of treeObj'  >
            <i class="ft-chevron-right font-medium-1" *ngIf='!obj1.openCheck' (click)='toggleVisible(obj1)'></i>  
            <i class="ft-chevron-down font-medium-1" *ngIf='obj1.openCheck' (click)='toggleVisible(obj1)'></i>  <span (click)='toggleVisiblePlus(obj1)'>  {{obj1.subGroup}} </span> <br>

            <div  *ngIf='obj1.openCheck'>
            
            <span *ngFor='let obj2 of obj1.children' style="left: 32px; position: relative;"  >
              <i class="ft-chevron-right font-medium-1" *ngIf='!obj2.openCheck' (click)='toggleVisible(obj2)'></i> 
              <i class="ft-chevron-down font-medium-1" *ngIf='obj2.openCheck' (click)='toggleVisible(obj2)'></i>      <span (click)='toggleVisiblePlus(obj2)'>  {{obj2.subGroup}} </span><br>
              
              <div  *ngIf='obj2.openCheck'>
              <span *ngFor='let obj3 of obj2.children' style="left: 32px; position: relative;" >
                <i class="ft-chevron-right font-medium-1" *ngIf='!obj3.openCheck'  (click)='toggleVisible(obj3)'></i> 
              <i class="ft-chevron-down font-medium-1" *ngIf='obj3.openCheck'  (click)='toggleVisible(obj3)'></i>      <span (click)='toggleVisible(obj3)'> {{obj3.subGroup}} </span> <br>
              </span>
              </div>

            </span>
        </div>
        </span>

    </div>
            </div>
        </div>
    </div>
  </td>
   </tr>
   <tr>
<td>
 
  <input type="text" class="form-control" id="basicInput"  placeholder="Enter Department" [(ngModel)]='subgrp'>
</td>
   </tr>
   <tr>
    <td>
      <input type="text" class="form-control" id="basicInput"  placeholder="Main Department" disabled [(ngModel)]='maingrp'>
    </td>
       </tr>
   <tr>
     <td colspan="2">
       &nbsp;
     </td>
   </tr>
   <tr>
     <td colspan="2">
       <button type="button" class="btn-lg btn-danger mr-1 mb-1" *ngIf='delVisible && deletebuttonenable' [disabled]='!delCheck' (click) ='delete()' >Delete</button>
       <button type="button" class="btn-lg btn-primary mr-1 mb-1" [disabled]='!creCheck' (click)='save()' >{{saveStr}}</button>
       <button type="button" class="btn-lg btn-dark mb-1" (click)='close()'>Close</button>
     </td>
   </tr>
   </table>
  </div>
      
     <div *ngIf='!opened'>
  <h3>
           List of Departments
       </h3>
       
       <table style="width: 80%;">
       <tr>
           <td align="left" style="width: 50%;" *ngIf="addbuttonenable">
               <button type="button" *ngIf='!opened' class="btn-lg btn-success mr-1 mb-1" (click)='openNew()' >New</button>
           <!-- Tooltip Arrow -->
           <div
           class="tooltip-arrow"
           ngbTooltip="Click here to add a new Department!"
           placement="right"
           container="body"
           [ngClass]="{'paused': isArrowPaused}"
           (mouseenter)="stopArrowMovement()"
           (mouseleave)="startArrowMovement()"
         >
           <span class="arrow">🢦</span>
           </div>
              </td>
           <td align="right" style="width: 50%;">
            &nbsp;
           </td>
       </tr>
       </table>
       
       <table class="table m-0" style="width: 80%;">
           <thead class="thead-light">
             <tr>
               <th>#</th>
               <th>Department</th>
               <th>Main Department</th>
               <th>Status</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
            <tr *ngIf="!grps || grps.length === 0">
              <td colspan="7">
                <div style="text-align: center; font-weight: bold;">
                  <span style="font-size: 24px; margin-right: 5px;">⚠️</span>
                  <span style="color: black;">
                  The Departments from your company cannot be found. Please click the "New" button above to add a Department.
                </span>
                </div>
              </td>
            </tr>
             <tr *ngFor='let grp of grps;let i=index'>
               <th scope="row" >{{i+1}}</th>
               <td>{{grp.sGrp}}</td>
               <td>{{grp.mGrp}}</td>
               <td><span *ngIf='grp.statu==1'> Active</span><span *ngIf='grp.statu!=1'> Inactive</span></td>
               <td *ngIf="modifybuttonenable"><i *ngIf='!opened' class="ft-edit font-medium-1"(click)='openOld(grp)'></i></td>
             </tr>
            
           </tbody>
         </table>
        </div>
 