<!--Statistics cards Starts-->
<h3>Dashboard</h3>
<div class="row">





    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card gradient-ibiza-sunset">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">CorTracker 360</h3>
                  <br>
                  <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
                </div>
                <div class="media-right white text-right">
                    <i class="icon-basket-loaded font-large-1"></i>
                  
                </div>
              </div>
            </div>
                  <div id="ft-tv" class=" ft-tbv mb-2">
          <br>
          </div>
          </div>
        </div>
      </div>


      <!--
      <div class="col-xl-4 col-lg-6 col-md-6 col-12" >
        <div class="card gradient-king-yna">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Manage Inn</h3>
                  <br>
                  <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-earphones font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                      <br>
                    </div>
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card gradient-ibiza-sunset">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Usine</h3>
                  <br>
                  <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
                </div>
                <div class="media-right white text-right">
                    <i class="icon-basket-loaded font-large-1"></i>
                  
                </div>
              </div>
            </div>
                  <div id="ft-tv" class=" ft-tbv mb-2">
          <br>
          </div>
          </div>
        </div>
      </div>

  
    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
      <div class="card gradient-mint">
        <div class="card-content">
          <div class="card-body py-0">
            <div class="media pb-1">
              <div class="media-body white text-left">
                <h3 class="font-large-1 white mb-0">Bienes Raices</h3>
                <br>
                <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
              </div>
              <div class="media-right white text-right">
                <i class="ft-trending-up font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="ft-tv" class=" ft-tbv mb-2">
                  <br>
                  </div>
        </div>
      </div>
    </div>
  




      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card gradient-king-yna">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">E-Commerce</h3>
                  <br>
                  <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-basket-loaded font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                      <br>
                    </div>
          </div>
        </div>
      </div>
 

      


      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card gradient-purple-love">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Edificio</h3>
                  <br>
                  <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                      <br>
                    </div>
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card gradient-blackberry">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Rides</h3>
                  <br>
                  <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-settings font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                      <br>
                    </div>
          </div>
        </div>
      </div>






      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card gradient-mint">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Dhanwantari</h3>
                  <br>
                  <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
                </div>
                <div class="media-right white text-right">
                  <i class="ft-dollar-sign font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="ft-tv" class=" ft-tbv mb-2">
                      <br>
                    </div>
          </div>
        </div>
      </div>




    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card gradient-ibiza-sunset">
          <div class="card-content">
            <div class="card-body py-0">
              <div class="media pb-1">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 white mb-0">Shiksha</h3>
                  <br>
                  <span> <table style="width:100%">
                    <tr>
                        <td style="width: 33%" align="center">
                            Products
                        </td>
                        <td style="width: 34%" align="center">
                            Value
                        </td>
                        <td style="width: 33%" align="center">
                            Enquiries
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 33%" align="center">
                            25
                        </td>
                        <td style="width: 34%" align="center">
                            500,000.00
                        </td>
                        <td style="width: 33%" align="center">
                            5
                        </td>
                    </tr>
                    </table></span>
                </div>
                <div class="media-right white text-right">
                    <i class="icon-basket-loaded font-large-1"></i>
                  
                </div>
              </div>
            </div>
                  <div id="ft-tv" class=" ft-tbv mb-2">
          <br>
          </div>
          </div>
        </div>
      </div>-->

  </div>
  <!--Statistics cards Ends-->

<h4> Pending Enquiries</h4>
  <table class="table m-0" style="width: 100%;">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        
        <th style="text-align: left;">Customer</th>
        <th style="text-align: left;">Product</th>
        <th style="text-align: left;">Mobile</th>
         
        <th style="text-align: left;">Email</th>
       
        <th style="text-align: left;">Status</th>
        <th style="text-align: left;">Age</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>MAX Solutions Pvt Ltd</td>
            <td>Comercio</td>
            <td>9182684182</td>
            <td>ravi_chitta@yahoo.com</td>
            <td>Unread</td>
            <td>20</td>
            <td><i class="ft-edit font-medium-1"></i></td>
        </tr>
    </tbody>
  </table>
  <br><br><br>