 
 <ngx-spinner></ngx-spinner>
 <div *ngIf='opened'>
    <h3>
    Sale Return Testing Details
  </h3>
  <br>
  <table style="width: 60%;">
  <tr>
   <td style="width:35%" align="right">Test</td>
    <td style="width: 65%;">
     <input type="text" class="form-control" id="basicInput" [(ngModel)]='test.Testname'>
    
        </td>
  </tr>
  <tr>
    <td style="width:35%" align="right">Checking Type</td>
     <td style="width: 65%;">
    <select class="form-control"   [(ngModel)]='test.MicroCheck'>
        <option value="-1">--Select--</option>
        <option value="1">Micro Check</option>
        <option value="2">Macro Check</option>
    </select>
         </td>
   </tr>
   <tr>
    <td style="width:35%" align="right">Samples Required</td>
     <td style="width: 65%;">
    <select class="form-control"   [(ngModel)]='test.CheckingType'>
        <option value="-1">--Select--</option>
        <option value="1">Optional Samples</option>
        <option value="2">Total LOT</option>
    </select>
         </td>
   </tr>
  
  <tr>
    <td colspan="2">
      <button type="button" class="btn-lg btn-danger mr-1 mb-1" *ngIf='recordid > 0 && deletebuttonenable' [disabled]='!delcheck' (click) ='deleteTest()' >Delete</button>
      <button type="button" class="btn-lg btn-primary mr-1 mb-1" [disabled]='!crecheck' (click)='saveTest()'> <span *ngIf='recordid==0'>Save</span> <span *ngIf='recordid > 0'>Modify</span>    </button>
      <button type="button" class="btn-lg btn-dark mb-1" (click)='close()'>Close</button>
    </td>
  </tr>
  </table>
 </div>
     
    

 <div *ngIf='!opened'>
      <h3>
          List of Sale Return Tests
      </h3>
      
      <table style="width: 100%;">
      <tr>
          <td align="left" style="width: 30%;" *ngIf="addbuttonenable">
              <button type="button" class="btn-lg btn-success mr-1 mb-1" (click)='openNew()' >New</button>
              <!-- Tooltip Arrow -->
          <div
          class="tooltip-arrow"
          ngbTooltip="Click here to add a new Sale Return Tests!"
          placement="right"
          container="body"
          [ngClass]="{'paused': isArrowPaused}"
          (mouseenter)="stopArrowMovement()"
          (mouseleave)="startArrowMovement()"
        >
          <span class="arrow">🢦</span>
          </div>
          </td>
          
      </tr>
      </table>
    
      <table class="table m-0" style="width: 100%;">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Test</th>
              <th>Test Type</th>
              <th>Sample Type</th>
              <th>Open</th>
            </tr>
          </thead>
          <tbody>
              <!-- No Data Message -->
          <tr *ngIf="!tests || tests.length === 0">
            <td colspan="7">
              <div style="text-align: center; font-weight: bold;">
                <span style="font-size: 24px; margin-right: 5px;">⚠️</span>
                <span style="color: black;">
                  The Sale Return Tests from your company cannot be found. Please click
                  the "New" button above to add Sale Return Test.
                </span>
              </div>
            </td>
          </tr>
            <tr *ngFor='let test of tests; let i=index'>
             <th scope="row" >{{i+1}}</th>
              <td>{{test.testname}}</td>
              <td> <span *ngIf='test.microCheck ==1'>Micro Check</span><span *ngIf='test.microCheck==2'>Macro Check</span>  </td>
              <td> <span *ngIf='test.checkingType ==1'>Optional Samples</span><span *ngIf='test.checkingType==2'>Total LOT</span>  </td>
             
              <td *ngIf="modifybuttonenable"><i class="ft-edit font-medium-1" (click)='openOld(test)' ></i></td>
            </tr>
           
          </tbody>
        </table>
 </div>
