<div class="row ">
    <div class="col-sm-12">
        <div class="content-header">Quality Dashboard</div>
   </div>
  </div>

  <div class="row">
  <div class="col-xl-2 col-lg-6 col-12">
    <div class="card card-inverse bg-success">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="card-text">10</h3>
              <span>Pending MIR for Testing</span>
            </div>
            <div class="media-right align-self-center">
              <i class="ft-arrow-up font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-6 col-12">
    <div class="card card-inverse bg-warning">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="card-text">125000</h3>
              <span>Rejected Value</span>
            </div>
            <div class="media-right align-self-center">
              <i class="ft-dollar-sign font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-xl-2 col-lg-6 col-12">
    <div class="card card-inverse bg-success">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="card-text">4</h3>
              <span>Pending Processes</span>
            </div>
            <div class="media-right align-self-center">
                <i class="ft-arrow-up font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-xl-2 col-lg-6 col-12">
    <div class="card card-inverse bg-warning">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="card-text">3</h3>
              <span>Pending Batches</span>
            </div>
            <div class="media-right align-self-center">
                <i class="ft-arrow-up font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-6 col-12">
    <div class="card card-inverse bg-danger">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-left align-self-center">
                <i class="ft-dollar-sign font-large-2 float-right"></i>
            </div>
            <div class="media-body text-right">
              <h3 class="card-text">375000</h3>
              <span>Production Fail Value</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="col-xl-2 col-lg-6 col-12">
    <div class="card card-inverse bg-warning">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-left align-self-center">
                <i class="ft-dollar-sign font-large-2 float-right"></i>
            </div>
            <div class="media-body text-right">
              <h3 class="card-text">150000</h3>
              <span>Sale Returned Value</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
