
 <ngx-spinner></ngx-spinner>
 <ng-sidebar-container *ngIf='authCheck' >


   <ng-sidebar [opened]="opened" mode="push" >
    <div class="card">
    <div class="card-header">

     <h3>
     Purchase Types
   </h3>
   
  </div>
   <br>
   
<div class="card-body">

   <table style="width: 100%;">
   <tr>
     <td style="width: 35%;">
       <span>Purchase</span>
         </td>
     <td style="width: 65%;">
       <input class="form-control" type="text" ngDefaultControl  [(ngModel)]='nam' [disabled]='recordID > 0' >
         </td>
   </tr>
   <tr>
    <td style="width: 35%;">
      <span>Type</span>
        </td>
    <td style="width: 65%;">
        <select class="form-control" [(ngModel)]='typ' >
            <option value="1">Domestic</option>
            <option value="2">Import</option>
        </select>
       
        </td>
  </tr>
   <tr>
     <td colspan="2">
       &nbsp;
     </td>
   </tr>
   <tr>
     <td colspan="2">
       <button type="button" class="btn btn-danger mr-1 mb-1" *ngIf='delVisible || deletebuttonenable' [disabled]='!delCheck' (click) ='deleteUM()' >Delete</button>
       <button type="button" class="btn btn-info mr-1 mb-1" [disabled]='!creCheck' (click)='saveUM()' >{{saveStr}}</button>
       <button type="button" class="btn btn-dark mb-1" (click)='close()'>Close</button>
     </td>
   </tr>
   </table>

  </div>
</div>
   </ng-sidebar>
   

   <div ng-sidebar-content>
     <div class="card">


     <nav>
      <div class="card-header">

     


       <h3>
           List of Purchase types
       </h3>
       
      </div>
      <div class="card-body">

       <table style="width: 100%;">
       <tr>
           <td align="left" *ngIf="addbuttonenable">
               <button type="button" class="btn-lg btn-success mr-1 mb-1" (click)='openNew()' >New</button>
           </td>
       </tr>
       </table>
       
       <table class="table m-0" style="width: 100%;">
           <thead class="thead-light">
             <tr>
               <th>#</th>
               <th>Purchase</th>
               <th>Type</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
            
             <tr *ngFor='let typ of types; let i=index'>
               <th scope="row" >{{i+1}}</th>
               <td>{{typ.purtype}}</td>
               <td *ngIf='typ.importType == 1'> Domestic </td>
               <td *ngIf='typ.importType != 1'> Import </td>
               <td *ngIf="modifybuttonenable"><i class="ft-edit font-medium-1" (click)='openOld(typ)' ></i></td>
             </tr>
            
           </tbody>
         </table>



        </div>
      
   </nav>
  </div>

   </div>
 

 </ng-sidebar-container>
 <div *ngIf='!authCheck'>
   <h1>Your are not authorized to view this page</h1>
 </div>