<ngx-spinner></ngx-spinner>
<div *ngIf='!open'>
    <h3>
        List of Enquiries
    </h3>
    
    <table style="width: 100%;">
     <tr>
         <td style="width: 15%;" align="right">From</td>
         <td style="width: 25%;" align="left"> <input type="date" class="form-control" [value]="fromdate | date:'yyyy-MM-dd'" (input)="fromdate=parseDate($event.target.value)">  </td>
         <td style="width: 15%;" align="right">To</td>
         <td style="width: 25%;" align="left"> <input type="date" class="form-control" [value]="todate | date:'yyyy-MM-dd'" (input)="todate=parseDate($event.target.value)">  </td>
         <td style="width: 10%;" align="left"> <button class="btn btn-primary" (click)='listAdd()'>Show</button> </td>
         <td style="width: 10%;" align="left"> <button class="btn btn-info" (click)='openNew()'>New</button> </td>
     </tr>
    </table>
    
    <table class="table m-0" style="width: 100%;">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor='let enq of enquiries;let i=index'>
            <th scope="row" >{{i+1}}</th>
            <td>{{enq.seq}}</td>
            <td>{{enq.dat | date:'dd-MMM-yy'}}</td>
            <td>{{enq.customer}}</td>
            <td>{{enq.productCode}}</td>
            <td *ngIf='enq.statu==0'> Pending </td>
            <td *ngIf='enq.statu==1'> Quoted </td>
            <td *ngIf='enq.statu > 1'> Cleared </td>
            <td><i class="ft-edit font-medium-1"(click)='openOld(enq)'></i></td>
         
          </tr>
         
        </tbody>
      </table>

</div>

<div *ngIf='open'>
    
<table style="width: 100%;">
    <tr>
        <td style="width: 10%;" align="right">*Customer</td>
        <td colspan="3" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Customer'></td>
        <td style="width: 10%;" align="right">ID</td>
        <td style="width: 15%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Seq' disabled></td>
    </tr>
    <tr>
     
        <td style="width: 10%;" align="right">Address</td>
        <td style="width: 30%;" rowspan="2" align="left"> <textarea [(ngModel)]='enquiry.Addr' class="form-control" rows=3>

        </textarea> </td>
        <td style="width: 10%;" align="right">Zip</td>
        <td style="width: 25%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Zip'></td>
        <td style="width: 10%;" align="right">Date</td>
        <td style="width: 15%;" align="left"><input type="date" class="form-control" [value]="enquiry.Dat | date:'yyyy-MM-dd'" (input)="enquiry.Dat=parseDate($event.target.value)"></td>
    </tr>
    <tr>
     
        <td style="width: 10%;" align="right">&nbsp;</td>
       
        <td style="width: 10%;" align="right">*Mobile</td>
        <td style="width: 25%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Mobile'></td>
        <td style="width: 10%;" align="right">Reference</td>
        <td style="width: 15%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.reference'></td>
    </tr>
 <tr>
     
     <td style="width: 10%;" align="right">Country</td>
     <td style="width: 30%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Country'></td>
     <td style="width: 10%;" align="right">Tel</td>
     <td style="width: 25%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Tel'></td>
     <td style="width: 10%;" align="right">Validity</td>
     <td style="width: 15%;" align="left"><input type="date" class="form-control" [value]="enquiry.validity | date:'yyyy-MM-dd'" (input)="enquiry.validity=parseDate($event.target.value)"></td>
 </tr>
 <tr>
     
    <td style="width: 10%;" align="right">State</td>
    <td style="width: 30%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Stat'></td>
    <td style="width: 10%;" align="right">Fax</td>
    <td style="width: 25%;" align="left"><input type="text" class="form-control"  [(ngModel)]='enquiry.Fax'></td>
    <td style="width: 10%;" align="right">*Product</td>
    <td style="width: 15%;" align="left"> 
       <select class="form-control"  [(ngModel)]='enquiry.ProductCode' (change)='selectProduct()'>
        <option value="">--Select--</option>
        <option *ngFor='let pro of totalproducts' value="{{pro.productCode}}">{{pro.productName}}</option>
    </select> </td>
</tr>
<tr>
    <td style="width: 10%;" align="right">District</td>
    <td style="width: 30%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.District' ></td>
    <td style="width: 10%;" align="right">Email</td>
    <td style="width: 25%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Email'></td>
    <td style="width: 10%;" align="right">Product Code</td>
    <td style="width: 15%;" align="left"><input type="text" class="form-control" disabled [(ngModel)]='product.productCode'></td>
</tr>
<tr>
    <td style="width: 10%;" align="right">City</td>
    <td style="width: 30%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.City'></td>
    <td style="width: 10%;" align="right">Web</td>
    <td style="width: 25%;" align="left"><input type="text" class="form-control" [(ngModel)]='enquiry.Web'></td>
    <td style="width: 10%;" align="right">Estimated Price</td>
    <td style="width: 15%;" align="left"><input type="text" class="form-control" style="text-align: right;" disabled value="{{product.price | number:'0.2'}}"></td>
</tr>
<tr>
    <td colspan="6" align="left">*Customer Comments</td>
 </tr>
 <tr>
    <td colspan="6" align="left"> <textarea class="form-control" rows="3" [(ngModel)]='enquiry.CustomerComments'></textarea> </td>
 </tr>
 <tr>
    <td colspan="6" align="left">*Caller Comments</td>
 </tr>
 <tr>
    <td colspan="6" align="left"> <textarea class="form-control" rows="3" [(ngModel)]='enquiry.CallerComments'></textarea> </td>
 </tr>
</table>


<table class="table m-0" style="width: 100%;">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Module</th>
        <th>Description</th>
        <th>Training</th>
        <th>Price</th>
       
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor='let mod of modules;let i=index'>
        <th scope="row" >{{i+1}}</th>
        <td>{{mod.moduleName}}</td>
        <td>{{mod.moduleDescription}}</td>
        <td>{{mod.trainingDays}}</td>
        <td>{{mod.price | number:'0.2'}}</td>
      </tr>
     
    </tbody>
  </table>

  <table style="width: 100%;">
<tr>
    <td style="width: 100%;">
    <button type="button" class="btn btn-primary" (click)='save()'> <span *ngIf='recordId==0'>Save</span> <span *ngIf='recordId>0'>Modify</span> </button>
    <button type="button" class="btn btn-danger" (click)='delete()' *ngIf='recordId>0'>Delete</button>
    <button type="button" class="btn btn-dark" (click)='close()'>Close</button>
    </td>
</tr>
</table>

</div>