
 <ngx-spinner></ngx-spinner>
 <div *ngIf='opened'>
  
     <h3>
     Account Details
   </h3>
   <br>
   <table style="width: 100%;">
   <tr>
    <td style="width: 40%;">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Select Account Group</h5>
        </div>
        <div class="card-content">
            <div class="card-body">

    <div style="width: 100%; border-color: black; border-style: solid; border-width:thin; height: 360px; overflow-y: scroll;">
    
        <span *ngFor='let obj1 of treeObj'  >
            <i class="ft-chevron-right font-medium-1" *ngIf='!obj1.openCheck' (click)='toggleVisible(obj1)'></i>  
            <i class="ft-chevron-down font-medium-1" *ngIf='obj1.openCheck' (click)='toggleVisible(obj1)'></i>  <span (click)='toggleVisible(obj1)'>  {{obj1.subGroup}} </span> <br>

            <div  *ngIf='obj1.openCheck'>
            
            <span *ngFor='let obj2 of obj1.children' style="left: 32px; position: relative;"  >
              <i class="ft-chevron-right font-medium-1" *ngIf='!obj2.openCheck' (click)='toggleVisible(obj2)'></i> 
              <i class="ft-chevron-down font-medium-1" *ngIf='obj2.openCheck' (click)='toggleVisible(obj2)'></i>      <span (click)='toggleVisiblePlus(obj2)'>  {{obj2.subGroup}} </span><br>
              
              <div  *ngIf='obj2.openCheck'>
              <span *ngFor='let obj3 of obj2.children' style="left: 32px; position: relative;" >
                <i class="ft-chevron-right font-medium-1" *ngIf='!obj3.openCheck'  (click)='toggleVisible(obj3)'></i> 
              <i class="ft-chevron-down font-medium-1" *ngIf='obj3.openCheck'  (click)='toggleVisible(obj3)'></i>      <span (click)='toggleVisiblePlus(obj3)'> {{obj3.subGroup}} </span> <br>
              </span>
              </div>

            </span>
        </div>
        </span>

    </div>
            </div>
        </div>
    </div>
  </td>
  <td style="width: 60%;">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Account Details</h5>
        </div>
        <div class="card-content">
            <div class="card-body">




                <table style="width: 100%;">

                    <tr>
                        <td colspan="2"> <input type="text" style="width: 100%;" class="form-control" id="basicInput"  placeholder="Account Name" [(ngModel)]='acco.Accname' > </td>
                      
                    </tr>
                    <tr>
                        <td colspan="2"> <input type="text" style="width: 100%;" disabled class="form-control" id="basicInput"  placeholder="Group" [(ngModel)]='grop' > </td>
                      
                    </tr>


                    <tr>
                        <td style="width: 50%;" rowspan="2">  <textarea id="projectinput8" rows="3" class="form-control" name="comment" placeholder="Address" [(ngModel)]='acco.Address'></textarea> </td>
                        <td style="width: 50%;"> <input type="text" class="form-control" id="basicInput"  placeholder="Zip" [(ngModel)]='acco.Pin' ></td>
                    </tr>
                    <tr>
                        
                        <td style="width: 50%;"> <input type="text" class="form-control" id="basicInput"  placeholder="Mobile"  [(ngModel)]='acco.Mobile'></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> 
                     <!--    <input type="text" class="form-control" id="basicInput"  placeholder="Country" [(ngModel)]='acco.Country'>
                        -->
                        <select class="form-control" [(ngModel)]='acco.Country' (change)='changeCountry()'>
                          <option value=" ">--Select Country--</option>
                          <option *ngFor='let cnt of countries' value="{{cnt.cntname}}">{{cnt.cntname}}</option>
                          

                        </select>
                        </td>
                        <td style="width: 50%;"> <input type="text" class="form-control" id="basicInput"  placeholder="Telephone" [(ngModel)]='acco.Tel'></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> 
                          <!--<input type="text" class="form-control" id="basicInput"  placeholder="State" [(ngModel)]='acco.State'>
                         -->
                         <select class="form-control" [(ngModel)]='acco.State'>
                          <option value=" ">--Select State--</option>
                          <option *ngFor='let sta of selectedstates' value="{{sta.stateName}}">{{sta.stateName}}</option>
                          

                        </select>
                        </td>
                        <td style="width: 50%;"> <input type="text" class="form-control" id="basicInput"  placeholder="Fax" [(ngModel)]='acco.Fax'></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> <input type="text" class="form-control" id="basicInput"  placeholder="District" [(ngModel)]='acco.District' ></td>
                        <td style="width: 50%;"> <input type="text" class="form-control" id="basicInput"  placeholder="email" [(ngModel)]='acco.Email'></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> <input type="text" class="form-control" id="basicInput"  placeholder="City" [(ngModel)]='acco.City'></td>
                        <td style="width: 50%;"> <input type="text" class="form-control" id="basicInput"  placeholder="Web" [(ngModel)]='acco.WebId'></td>
                    </tr>
                    <tr><td colspan="2">
                        <select class="form-control" [(ngModel)]='acco.AcChk'> <option value="1">Active</option> <option value="2">Inactive</option>  </select>

                    </td></tr>
                
                </table>

   
    </div>
    </div>
    </div>
    
   

</td>
   </tr>
  
   <tr>
     <td colspan="2">
       &nbsp;
     </td>
   </tr>
   <tr>
     <td colspan="2">
       <button type="button" class="btn-lg btn-danger mr-1 mb-1" *ngIf='delVisible && deletebuttonenable' [disabled]='!delCheck' (click) ='delete()' >Delete</button>
       <button type="button" class="btn-lg btn-primary mr-1 mb-1" [disabled]='!creCheck' (click)='save()' >{{saveStr}}</button>
       <button type="button" class="btn-lg btn-dark mb-1" (click)='close()'>Close</button>
     </td>
   </tr>
   </table>
 </div>
  
       <div *ngIf='!opened'>

       <h3>
           List of Accounts
       </h3>
       
       <table style="width: 100%;">
        <tr>
            <td align="left" style="width: 50%;" *ngIf="addbuttonenable">
                <button type="button" *ngIf='!opened' class="btn-lg btn-success mr-1 mb-1" (click)='openNew()' >New</button>
                  <!-- Tooltip Arrow -->
          <div
          class="tooltip-arrow"
          ngbTooltip="Click here to add a new Account!"
          placement="right"
          container="body"
          [ngClass]="{'paused': isArrowPaused}"
          (mouseenter)="stopArrowMovement()"
          (mouseleave)="startArrowMovement()"
        >
          <span class="arrow">🢦</span>
          </div>
            </td>
            <td align="right" style="width: 50%;">
             <div class="form-group has-search">
               <span class="fa fa-search form-control-feedback"></span>
               <input type="text" class="form-control" placeholder="Search" [(ngModel)]='searchtext' (input)='searchItems()' >
             </div>
            </td>
        </tr>
       </table>
       <ngb-pagination [collectionSize]="totalpages" (pageChange)="loadPage($event)" [(page)]="page4" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
  
       <table class="table m-0" style="width: 100%;">
           <thead class="thead-light">
             <tr>
               <th>#</th>
               <th>Account</th>
               <th>Group</th>
               <th>Mobile</th>
               <th>Email</th>
               <th>Status</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
            <tr *ngIf="!items || items.length === 0">
              <td colspan="7">
                <div style="text-align: center; font-weight: bold;">
                  <span style="font-size: 24px; margin-right: 5px;">⚠️</span>
                  <span style="color: black;">The Account of your company cannot be found. Please click the "New" button above
                    to add a Account.</span>
                </div>
              </td>
            </tr>
             <tr *ngFor='let item of items;let i=index'>
              <th scope="row" >{{i+1 +((pageno-1)*PAGESIZE)}}</th>
               <td (click)='openOld(item)' style="cursor:pointer;text-decoration:underline" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';">{{item.accountname}}</td>
               <td>{{item.grp}}</td>
               <td>{{item.mobile}}</td>
               <td>{{item.email}}</td>
               <td><span *ngIf='item.acchk==1'> Active</span><span *ngIf='item.acchk!=1'> Inactive</span></td>
               <td *ngIf="modifybuttonenable"><i *ngIf='!opened' class="ft-edit font-medium-1"(click)='openOld(item)'></i></td>
             </tr>
           </tbody>
         </table>
        </div>

 <span *ngIf='!authCheck'>
   <h2>Please verify your authorization</h2>
 </span>