<ngx-spinner></ngx-spinner>


<div *ngIf='opened'>
    <h3>Process Clearance infomration</h3>
    <table style="width: 100%;">
    <tr>
        <td style="width: 30%;">Process</td>
        <td style="width: 30%;">Incharge</td>
        <td style="width: 30%;">Designation</td>
        <td style="width: 10%;">Mobile</td>
    </tr>
    <tr>
        <td style="width: 30%;"> <select class="form-control" [(ngModel)]='processid' (change)='makePendingProcesses()'>
            <option value="0">--Select--</option>
            <option *ngFor='let pro of processes' value="{{pro.recordId}}">{{pro.processName}}</option>
        </select> </td>
        <td style="width: 30%;"><ng-select [items]="employees" bindLabel="empname" [(ngModel)]='employ'> </ng-select></td>
        <td style="width: 30%;"> <input type="text" class="form-control" disabled [(ngModel)]='employ.designation'> </td>
        <td style="width: 10%;"><input type="text" class="form-control" disabled [(ngModel)]='employ.mobile'></td>
    </tr>
    <tr>
        <td colspan="4">

            <div style=" border-style: solid; border-color: black; overflow-y: scroll; width:100%; height: 300px">
            
            
    <table class="table m-0" style="width: 100%;">
        <thead class="thead-light">
          <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 15%;">Batch No</th>
            <th style="width: 28%;">Item Name</th>
            <th style="width: 9%;">Qty</th>
            <th style="width: 8%;">UM</th>
            <th style="width: 35%;">Production Incharge</th>
             
          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor='let proc of filterpendings;let i=index'>
            <th scope="row" style="width: 5%;"> <input type="checkbox" [(ngModel)]='proc.chk'> </th>
            <td style="width: 15%;">{{proc.batchno}}</td>
            <td style="width: 28%;">{{proc.itemname}}</td>
           
            <td style="width: 9%;">{{proc.qty}}</td>
            <td style="width: 8%;">{{proc.um}}</td>
            <td style="width: 35%;">{{proc.productionincharge}}</td>
            </tr>
         
        </tbody>
      </table>
            
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <button  *ngIf='recordId > 0 || deletebuttonenable' [disabled]='!delCheck' class="btn-lg btn-danger" (click)='deleteProcess()'>Cancel</button>
            <button *ngIf='recordId == 0'  [disabled]='!creCheck' class="btn-lg btn-primary" (click)='saveProcess()'>Save</button>
            <button   class="btn-lg btn-dark" (click)='close()'>Close</button>
            
            

        </td>
    </tr>
    </table>
</div>



<div *ngIf='!opened'>
    <h3>
        List of Processes
    </h3>
    
    <table style="width: 100%;">
    <tr>

     <td align="right" style="width: 40%;">
          
           <input type="date" class="form-control"  [disable]='!dateCheck'  [value]="listDate | date:'yyyy-MM-dd'" (input)="listDate=parseDate($event.target.value)">
     
     </td>
     <td align="left" style="width: 25%;">   <button type="button" class="btn-lg btn-info mr-1 mb-1" (click)='ShowOrders()' >Show</button> </td>

        <td align="left" style="width: 25%;" *ngIf="addbuttonenable">
            <button type="button" class="btn-lg btn-success mr-1 mb-1" (click)='openNew()' >New</button>
            <!-- Tooltip Arrow -->
          <div
          class="tooltip-arrow"
          ngbTooltip="Click here to Finish a new Process Testing!"
          placement="right"
          container="body"
          [ngClass]="{'paused': isArrowPaused}"
          (mouseenter)="stopArrowMovement()"
          (mouseleave)="startArrowMovement()"
        >
          <span class="arrow">🢦</span>
          </div>
        </td>
      
    </tr>
    </table>
    
    <table class="table m-0" style="width: 100%;">
        <thead class="thead-light">
          <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 15%;">Job Card</th>
            <th style="width: 35%;">Process Name</th>
            <th style="width: 40%;">Inchage</th>
            
             <th style="width: 5%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!processeslist || processeslist.length === 0">
            <td colspan="7">
              <div style="text-align: center; font-weight: bold;">
                <span style="font-size: 24px; margin-right: 5px;">⚠️</span>
                <span style="color: black;">The Process Wise Production of your company cannot be found. Please click the "New" button above
                  to complete a new Prodcution Process.</span>
              </div>
            </td>
          </tr>
          <tr *ngFor='let proc of processeslist;let i=index'>
            <th scope="row" style="width: 5%;"> {{i+1}}</th>
            <td style="width: 15%;">{{proc.jobcard}}</td>
            <td style="width: 35%;">{{proc.processname}}</td>
            <td style="width: 40%;">{{proc.processincharge}}</td>

          
             <td style="width: 5%;"><i class="ft-edit font-medium-1" (click)='openOld(proc)' ></i></td>
          </tr>
         
        </tbody>
      </table>
</div>