
 <ngx-spinner></ngx-spinner>
 <ng-sidebar-container>
  <ng-sidebar [opened]="opened" mode="push" >
    <div class="card">
      <div class="card-header">
        <h3>
          Loss Details
        </h3>
      </div>
      <div class="card-body">
        <br>
        <table style="width: 60%;">
        
        <tr>
     
         <td style="width: 100%;">
           <input type="text" class="form-control" id="basicInput"  placeholder="Loss Name" ngDefaultControl  [(ngModel)]='lossname' style="width: 90%;">
          
              </td>
     
     
       </tr>
       <tr>
     
         <td style="width: 100%;">
           <input type="number" class="form-control" id="basicInput"  placeholder="Allowable %" ngDefaultControl  [(ngModel)]='allowableper' style="width: 90%;">
          
              </td>
     
     
       </tr>
       
        <tr>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="button" class="btn-lg btn-danger mr-1 mb-1" *ngIf='delVisible && deletebuttonenable' [disabled]='!delCheck' (click) ='deleteStore()' >Delete</button>
            <button type="button" class="btn-lg btn-primary mr-1 mb-1" [disabled]='!creCheck' (click)='saveStore()' >{{saveStr}}</button>
            <button type="button" class="btn-lg btn-dark mb-1" (click)='close()'>Close</button>
          </td>
        </tr>
        </table>
      </div>
    </div>
   
  
  
      
     
</ng-sidebar>
       
      
<div ng-sidebar-content>
    
  <nav *ngIf='!opened'>
    <div class="card">
        <div class="card-header">
          <h3>
            List of Losses
        </h3>
        </div>
        <div class="card-body">

          <table style="width: 100%;">
            <tr>
                <td align="left" *ngIf="addbuttonenable">
                  <button type="button" *ngIf='!opened' class="btn-lg btn-success mr-1 mb-1" (click)='openNew()'id="new-button" >New</button>
                  <!-- Tooltip Arrow -->
               <div
               class="tooltip-arrow"
               ngbTooltip="Click here to add a new losses!"
               placement="right"
               container="body"
               [ngClass]="{'paused': isArrowPaused}"
               (mouseenter)="stopArrowMovement()"
               (mouseleave)="startArrowMovement()"
             >
               <span class="arrow">🢦</span>
               </div>
                </td>
            </tr>
            </table>
            
            <table class="table m-0" style="width: 60%;">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Loss</th>
                    <th>Allowable %</th>
                  
                    <th>Open</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- No Data Message -->
          <tr *ngIf="!losses || losses.length === 0">
            <td colspan="5">
              <div class="no-countries-message">
                <span class="warning-icon">⚠️</span>
                <span class="message-text">
                  The losses from your company cannot be found. Please click
                  the "New" button above to add losses.
                </span>
              </div>
            </td>
          </tr>
                  <tr *ngFor='let loss of losses; let i=index'>
                    <th scope="row" >{{i+1}}</th>
                    <td>{{loss.lossName}}</td>
                    <td>{{loss.allowableper}}</td>
                    
                    <td *ngIf="modifybuttonenable"><i *ngIf='!opened' class="ft-edit font-medium-1" (click)='openOld(loss)' ></i></td>
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
       
       
  </nav>
 </div>
 </ng-sidebar-container>
 