<div *ngIf="!newleaddocuments">
  <div class="d-flex justify-content-between ">
      <h3>Documents</h3>
      <div>
          <button class="btn mb-3 mr-3 btn-primary" (click)="newleaddocuments = true">Add Documents</button>
      </div>
  </div>
  <table class="table table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th scope="col">Document Name </th>
              <th scope="col">Download</th>
             
          </tr>
      </thead>
      <tbody>
          
      </tbody>
  </table>
</div>
<div  *ngIf="newleaddocuments">
  <h3 class="title">New Documents</h3>
  <hr>
  <div class="content">
    
      <div class="" style="padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;"
      >
      <div class="container">
         

          <div class="row" >
              <div class="col-md-4">
                <div class="input_container">
                  <input type="file" id="fileUpload" (change)="Uploaddocument($event)">
                </div>
               </div>
              <div class="col-md-4">
                    <input type="file" (change)="Uploaddocument1($event)" />
                </div>
                <div class="col-md-4">
                        <input type="file"  (change)="Uploaddocument2($event)"/>
                    </div>
              </div>

              <div class="row" >
                <div class="col-md-4">
                   <input type="file" (change)="Uploaddocument3($event)"/>
                 </div>
                <div class="col-md-4">
                      <input type="file"  (change)="Uploaddocument4($event)"/>
                  </div>
                  <div class="col-md-4">
                          <input type="file"  (change)="Uploaddocument5($event)"/>
                      </div>
                </div>
             
              </div>
             
              </div>
            
             

<br/>
          <div class="d-flex">
              <div>
                  <button  (click)="savedocuments()" class="submit-button">Submit</button>
              </div>
              <div>
                  <button (click)="newleaddocuments = false" class="close-button">Close</button>
              </div>
          </div>
     
  </div>
</div>