
.tab-buttons {
  display: flex;
  gap: 8px;
}

.tab-btn {
  width: 100%;
  border: none;
  color: #020617;
  background-color: #eceef0;
  border-radius: 8px 18px 0px 0px;
  font-weight: 500;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tab-btn:hover {
  background-color: #9f9fa3;
}
.tab-btn.active {
  background-color: #9f9fa3;
  color: white;
}

.content {
  display: none;
}
.content.show {
  display: flex;
  gap: 14px;
  background-color: #c7d2fe;
  border-radius: 0px 0px 8px 8px;
  padding: 16px;
}

.content svg {
  width: 50%;
  height: 200px;
}

//EVENTS

.main-container {
padding: 20px;
}

.calendar {
border: 1px solid #ccc;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.calendar-header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #f8f8f8;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.calendar-header button {
background: none;
border: none;
font-size: 1.5em;
cursor: pointer;
}

.calendar-body {
display: grid;
grid-template-columns: repeat(7, 1fr);
gap: 1px;
background-color: #ddd;
}

.calendar-weekday {
background-color: #f8f8f8;
padding: 10px;
text-align: center;
font-weight: bold;
}

.calendar-day {
background-color: #fff;
padding: 10px;
text-align: center;
cursor: pointer;
}

.calendar-day.current {
background-color: #f0f0f0;
}

.calendar-day.today {
background-color: #ffe0b2;
}

.events {
margin-top: 10px;
text-align: left;
}

.event {
background-color: #3ab4ad;
border-radius: 5px;
padding: 5px;
margin-bottom: 5px;
display: flex;
justify-content: space-between;
align-items: center;
}

.event .event-title {
flex-grow: 1;
}

.event .material-symbols-outlined {
background: none;
border: none;
cursor: pointer;
}

.modal-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}

.modal-content {
background-color: #fff;
padding: 20px;
border-radius: 10px;
position: relative;
max-width: 500px;
width: 100%;
}

.close-button {
background: none;
border: none;
font-size: 1.5em;
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}

.fields {
display: flex;
flex-direction: column;
gap: 15px;
}

.input-field label {
font-weight: bold;
}

.emp-buttons {
text-align: right;
}

.calendar-day {
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
border: 1px solid #ccc;
}

.event {
background-color: #f9f9f9;
margin-top: 5px;
padding: 5px;
border-radius: 4px;
width: 90%;
text-align: center;
}

.event-title {
font-weight: bold;
cursor: pointer;
}

.event-actions button {
margin: 0 5px;
padding: 2px 5px;
}


