<div class="card-wrapper card">
    <h1>{{this.leadData.company}}</h1>
    
    <div class="d-flex justify-content-between align-items-center py-2 ">
        <div>
            <strong>Lead ID# : LEAD-{{this.leadData.id}}</strong> <br>
            <strong>Lead Owner : {{this.leadData.leadOwnerName}}</strong>
        </div>
        <div class="d-flex align-items-center gap-3">
            <button class="btn btn-light btn-sm me-2"  routerLink="/crm/Leadscreate" [queryParams]="{id:this.leadData.id}" >
                <i class="bi bi-pencil"></i> Edit
            </button>
            <button class="btn btn-light btn-sm me-2" *ngIf="!convertedcustomer" (click)="markAsCustomer()">
                <i class="bi bi-check-circle"></i> Mark as Customer
            </button>
        </div>
    </div>
    <div>
        <div class="m-2">
            <div class=" tab-buttons">
                <button *ngFor="let tab of tabs;let i = index" class=" tab-btn"
                    [ngClass]="{'active': selectedTab === i}" (click)="selectTab(i)">
                    {{ tab }}
                </button>
            </div>
        </div>
        <div class="tab-content">
            <div *ngIf="selectedTab === 0" class="tab-pane fade show active">
                <app-leadview-page></app-leadview-page>
            </div>
            <div *ngIf="selectedTab === 1" class="tab-pane fade show active">
                <app-leadview-contact></app-leadview-contact>
            </div>
            <div *ngIf="selectedTab === 2" class="tab-pane fade show active">
                <app-leadview-calllog></app-leadview-calllog>
            </div>
            <div *ngIf="selectedTab === 3" class="tab-pane fade show active">
                <app-leadview-events></app-leadview-events>
            </div>
            <div *ngIf="selectedTab === 4" class="tab-pane fade show active">
                <app-leadview-reminder></app-leadview-reminder>
            </div>
            <div *ngIf="selectedTab === 5" class="tab-pane fade show active">
                <app-leadview-enquiry></app-leadview-enquiry>
            </div>
            <div *ngIf="selectedTab === 6" class="tab-pane fade show active">
                <app-leadview-quotation></app-leadview-quotation>
            </div>
            <div *ngIf="selectedTab === 7" class="tab-pane fade show active">
                <app-leadview-orders></app-leadview-orders>
            </div>
            <!-- <div *ngIf="selectedTab === 8" class="tab-pane fade show active">
                <app-leadview-document></app-leadview-document>
            </div> -->
        </div>
    </div>
</div>