

  
<ngx-spinner></ngx-spinner>
<!--Light table starts-->
<section id="light" *ngIf='authCheck'>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List of Pending Orders</h4>
  
  
         
  
          <div class="position-relative float-right">
            <div ngbDropdown display="dynamic"  placement="bottom-right"  class="d-inline-block">
              <i class="ft-more-vertical- mt-1 dropdown-toggle" id="chatOptions" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="chatOptions">
                <!--<a href="javascript:;" class="dropdown-item" [href]='pdfFile'target="_aa" >Download Pdf</a>-->
                <a href="javascript:;" class="dropdown-item" [href]='pdffile' target="_blank">Download Pdf</a>
                <a href="javascript:;" class="dropdown-item" [href]='excelfile' target="_ aa">Download Excel</a>
         
              </div>
            </div>
          </div>
        </div>
          <div class="card-content">
            <div class="card-body">
              
              <div class="table-responsive">
                <table class="table m-6">
                    <thead class="thead-light">
                      <tr>
                         
                        <th>#</th>
                        <th style="text-align: left;">Seq</th>
                        <th style="text-align: left;">Date</th>
                        <th style="text-align: left;">Customer</th>
                        
                        <th style="text-align: right;">Base </th>
                        <th style="text-align: right;">Discount </th>
                        <th style="text-align: right;">Taxes </th>
                        <th style="text-align: right;">Others </th>
                        <th style="text-align: right;">Total </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let det of details;let i=index' >
                        
                        <td>{{i+1}}</td>
                        <td align="left">{{det.det1}}</td>
                        <td align="left">{{det.det2}}</td>
                         
                        <td align="left">{{det.det3}}</td>
                        <td align="right">{{det.det5}}</td>
                        <td align="right">{{det.det6}}</td>
                        <td align="right">{{det.det7}}</td>
                        <td align="right">{{det.det8}}</td>
                        <td align="right">{{det.det9}}</td>
                      </tr>
                      <tr *ngIf='details.length <= 0'>
                        <td colspan="9" align="center"> <span style="color: brown; font-weight: bold; font-size: large;"> No records found </span> </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Light table Ends-->
  
  
  <span *ngIf='!authCheck'>
    <h2>Please verify your authorization</h2>
  </span>
  
  
  