
 <ngx-spinner></ngx-spinner>
 <div *ngIf='!opened'>
  <div class="card">
<div class="card-header">
  <h3>
    List of Discount Lists
    <hr/>
</h3>
</div>
<div class="card-body">

  <table style="width: 80%;">
    <tr>
        <td align="left" style="width: 50%;">
            <button type="button" class="btn-lg btn-success mr-1 mb-1" (click)='openNew()' >New</button>
              <!-- Tooltip Arrow -->
         <div
         class="tooltip-arrow"
         ngbTooltip="Click here to add a new Discount!"
         placement="right"
         container="body"
         [ngClass]="{'paused': isArrowPaused}"
         (mouseenter)="stopArrowMovement()"
         (mouseleave)="startArrowMovement()"
       >
         <span class="arrow">🢦</span>
         </div>
        </td>
        <td align="right" style="width: 50%;">
        &nbsp;
        </td>
    </tr>
    </table>
    
    <table class="table table-bordered table-stripped table-hover" style="width: 100%;border-radius:4px">
        <thead class="bg-dark text-white">
          <tr>
            <th>#</th>
            <th>Discount List</th>
            <th>Effect From</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!discountlists || discountlists.length === 0">
            <td colspan="7">
              <div style="text-align: center; font-weight: bold;">
                <span style="font-size: 24px; margin-right: 5px;">⚠️</span>
                <span style="color: black;">
                The Discount List from your company cannot be found. Please click the "New" button above to add a Discount.
              </span>
              </div>
            </td>
          </tr>
          <tr *ngFor='let discount of discountlists;let i=index'>
            <th scope="row" >{{i+1}}</th>
            <td (click)='openOld(discount)' style="cursor:pointer;text-decoration:underline" onmouseover="this.style.backgroundColor='#f0f0f0';" onmouseout="this.style.backgroundColor='';"
            >{{discount.discountListName}}</td>
            <td>{{discount.effectiveDate | date:'dd-MMM-yy'}}</td>
            <td><span *ngIf='discount.pos==1'> Active</span><span *ngIf='discount.pos ==2'> Default</span> <span *ngIf='discount.pos ==3'> Inactive</span></td>
            <td><i class="ft-edit font-medium-1"(click)='openOld(discount)'></i></td>
          </tr>
         
        </tbody>
      </table>
</div>
  </div>
    
     
 
 </div>
 
 
 <div *ngIf='opened'>
 <h3> Discount Details</h3>
 <table style="width: 100%;">
 <tr>
     <td style="width: 30%;">Discount List Name</td>
     <td style="width: 20%;">Effective From</td>
   
     <td style="width: 20%;">Status</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
 </tr>
 <tr>
     <td style="width: 30%;"><input type="text" class="form-control" [(ngModel)]='header.DiscountListName'> </td>
     <td style="width: 20%;"> <input type="date" class="form-control" [value]="header.EffectiveDate | date:'yyyy-MM-dd'" (input)="header.EffectiveDate=parseDate($event.target.value)">  </td>
     
     <td style="width: 20%;"><select class="form-control" [(ngModel)]='header.Pos'>
     <option value="1">Active</option>    
     <option value="2">Defualt</option>   
     <option value="3">Inactive</option>     
     </select> </td>
     <td style="width: 10%;"> <button type="button" style="width: 100%;" class="btn-lg btn-primary" (click)='save()'>Save</button> </td>
     <td style="width: 10%;"> <button type="button" style="width: 100%;" class="btn-lg btn-dark" (click)='close()'>Close</button> </td>
     <td style="width: 10%;" *ngIf='recordId > 0'> <button type="button" style="width: 100%;" class="btn-lg btn-warning" (click)='makeReset()'>Make as new</button> </td>
     <td style="width: 10%;" *ngIf='recordId == 0'>&nbsp;</td>
 
   </tr>
 </table>
 
 <table class="table m-0" style="width: 100%;">
     <thead class="thead-light">
       <tr>
         <th style="width: 5%;">#</th>
         <th  style="width: 30%;">Group</th>
         <th  style="width: 40%;">Product</th>
         <th  style="width: 20%;">Discount</th>
         <th  style="width: 5%;">&nbsp;</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor='let discount of discountdetails;let i=index'>
         <th scope="row"  style="width: 5%;">{{i+1}}</th>
         <td  style="width: 30%;">{{discount.grpname}}</td>
         <td  style="width: 40%;">{{discount.product}}</td>
         <td  style="width: 20%;"> <input type="number" class="form-control" [(ngModel)]='discount.discount'> </td>
         <td  style="width: 5%;">% </td>
       </tr>
     </tbody>
   </table>
 
 </div>
  