<div class="d-flex  pl-3 pr-3 gap-5">
    <div class="w-33">
        <div class="card-heading">Company Details<hr/></div>
        <p class="d-flex justify-content-between " style="line-height: 30px;"><strong>First Name:</strong> {{leadData.first_name}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Last Name:</strong> {{leadData.last_name}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Email:</strong> {{leadData.business_email}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Phone:</strong> {{leadData.phonenumber}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Mobile</strong>{{leadData.alternate_number}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Website</strong>{{leadData.website}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Industry</strong>{{leadData.industryName}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Number of Employes</strong>{{leadData.numberofemployees}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Description</strong>{{leadData.description}}</p>
    </div>
    <div class="w-33">
        <div class="card-heading">Customer Details<hr/></div>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Customer Owner:</strong> {{leadData.leadOwnerName}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Customer Source:</strong> {{leadData.leadSourceName}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Customer Stage:</strong> {{leadData.leadStageName}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Customer Status</strong>{{leadData.leadStatusName}}</p>
        <div class="card-heading">ADDRESS<hr/></div>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Street</strong>{{leadData.street}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>City</strong>{{leadData.city}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>State</strong>{{leadData.state}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Country</strong>{{leadData.country}}</p>
        <p class="d-flex justify-content-between" style="line-height: 30px;"><strong>Zip Code</strong>{{leadData.zipcode}}</p>
    </div>
</div>


