
ng-sidebar-container
{
    height: 100vh;
}

::ng-deep .ng-sidebar
{
    background-color: white;
    width: 95%;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#content
{
    width: 95%;
}

.terms-modal .modal-content {
   // background-color: #292b2c;
    width: 900px;
  //  color: white;
    position:absolute;
    left: -200px;
}
 .terms-modal .close {
    color: black;
}

.terms-modal .modal-title {
  color: black;
}


.dark-modal .modal-content {
    background-color: #292b2c;
    width: 190%;
    color: white;
    position:absolute;
    left: -300px;
}
 .dark-modal .close {
    color: white;
}

.dark-modal .modal-title {
  color: white;
}
.tooltip-arrow {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    animation: moveArrow 0.4s infinite alternate ease-in-out;
    cursor: pointer;
  }
  
  .tooltip-arrow.paused {
    animation-play-state: paused;
  }
  
  .arrow {
    color: black;
    font-size: 35px;
  }
  
  @keyframes moveArrow {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(15px);
    }
  }
