
 <ngx-spinner></ngx-spinner>
 <div *ngIf='opened'>
 <h3>
    Designation Details
   </h3>
   <br>
   <table style="width: 100%;">
  <tr>
    <td style="width: 40%;"> 
    
      <div class="card">
        <div class="card-header">
            <h5 class="card-title">Select Department</h5>
        </div>
        <div class="card-content">
            <div class="card-body">

    <div style="width: 100%; border-color: black; border-style: solid; border-width:thin; height: 620px; overflow-y: scroll;">
    
        <span *ngFor='let obj1 of treeObj'  >
            <i class="ft-chevron-right font-medium-1" *ngIf='!obj1.openCheck' (click)='toggleVisible(obj1)'></i>  
            <i class="ft-chevron-down font-medium-1" *ngIf='obj1.openCheck' (click)='toggleVisible(obj1)'></i>  <span (click)='toggleVisiblePlus(obj1)'>  {{obj1.subGroup}} </span> <br>

            <div  *ngIf='obj1.openCheck'>
            
            <span *ngFor='let obj2 of obj1.children' style="left: 32px; position: relative;"  >
              <i class="ft-chevron-right font-medium-1" *ngIf='!obj2.openCheck' (click)='toggleVisible(obj2)'></i> 
              <i class="ft-chevron-down font-medium-1" *ngIf='obj2.openCheck' (click)='toggleVisible(obj2)'></i>      <span (click)='toggleVisiblePlus(obj2)'>  {{obj2.subGroup}} </span><br>
              
              <div  *ngIf='obj2.openCheck'>
              <span *ngFor='let obj3 of obj2.children' style="left: 32px; position: relative;" >
                <i class="ft-chevron-right font-medium-1" *ngIf='!obj3.openCheck'  (click)='toggleVisible(obj3)'></i> 
              <i class="ft-chevron-down font-medium-1" *ngIf='obj3.openCheck'  (click)='toggleVisible(obj3)'></i>      <span (click)='toggleVisible(obj3)'> {{obj3.subGroup}} </span> <br>
              </span>
              </div>

            </span>
        </div>
        </span>

    </div>
            </div>
        </div>
    </div>
    
    </td>
    <td style="width: 60%;">
      <div class="card">
        <div class="card-header">
            <h5 class="card-title">Designation Details</h5>
        </div>
        <div class="card-content">
            <div class="card-body">

    <div style="width: 100%; border-color: black; border-style: solid; border-width:thin; height: 620px; overflow-y: scroll;">
    
   <table style="width: 100%;">
 <tr>
     <td style="width: 30%;">Designation</td>
     <td style="width: 70%;"><input type="text" class="form-control" [(ngModel)]='desig'></td>
 </tr>
 <tr>
  <td style="width: 30%;">Department</td>
  <td style="width: 70%;"><input type="text" disabled class="form-control" [(ngModel)]='department'></td>
</tr>
 <tr>
     <td colspan="2">
       <div style="overflow-y: scroll; width:100%; height: 250px ">
        <table class="table m-0" style="width: 100%;">
            <thead class="thead-light">
              <tr>
                <th style="width: 5%;">#</th>
                <th style="width: 25%;">Name</th>
                <th style="width: 25%;">Value</th>
                <th style="width: 20%;">Type</th>
                <th style="width: 25%;">Effect</th>
              </tr>
            </thead>
            <tbody>
             
              <tr *ngFor='let allow of allowances;let i=index'>
                  <th style="width: 5%;">{{i+1}}</th>
                  <td style="width: 25%;">{{allow.allowance}}</td>
                  <td style="width: 25%;"><input type="number" class="form-control" [(ngModel)]='allow.valu'> </td>
                  <td style="width: 20%;">
                  <span *ngIf='allow.allowanceCheck==1'>Allowance</span>
                  <span *ngIf='allow.allowanceCheck!=1'>Deduction</span>
                  </td>
                  <td style="width: 25%;">
                    <span *ngIf='allow.allowanceCheck==1'>Exact Value</span>
                    <span *ngIf='allow.allowanceCheck==2'>Lower</span>
                    <span *ngIf='allow.allowanceCheck==3'>Upper</span>
                    <span *ngIf='allow.allowanceCheck==4'>Round</span>
                  </td>
              </tr>
              
          
            </tbody>
        </table>
    </div>
     </td>
 </tr>
 <tr>
    <td colspan="2">
      <div style="overflow-y: scroll; width:100%; height: 250px ">
       <table class="table m-0" style="width: 100%;">
           <thead class="thead-light">
             <tr>
               <th style="width: 5%;">#</th>
               <th style="width: 25%;">Code</th>
               <th style="width: 25%;">Leave</th>
               <th style="width: 20%;">Allowable</th>
               <th style="width: 25%;">Type</th>
             </tr>
           </thead>
           <tbody>
            
             <tr *ngFor='let leave of leaves;let i=index'>
                 <th style="width: 5%;">{{i+1}}</th>
                 <td style="width: 25%;">{{leave.leaveCode}}</td>
                 <td style="width: 25%;">{{leave.leaveDescription}}</td>
                 <td style="width: 20%;"><input type="number" class="form-control" [(ngModel)] ='leave.valu'> </td>
                  <td style="width: 25%;">
                    <span *ngIf='leave.forwardType==1'>Within year</span>
                    <span *ngIf='leave.forwardType==2'>Carry forward</span>
                    <span *ngIf='leave.forwardType==3'>Paid leave</span>
                   
                  </td>
             </tr>
              
          
           </tbody>
       </table>
   </div>
    </td>
</tr>

   </table>
   </div>
            </div>
        </div>
      </div>
  </td>
</tr>
<tr>
  <td colspan="2">

    <button type="button" class="btn-lg btn-danger mr-1 mb-1" *ngIf='delVisible && deletebuttonenable' [disabled]='!delCheck' (click) ='delete()' >Delete</button>
    <button type="button" class="btn-lg btn-primary mr-1 mb-1" [disabled]='!creCheck' (click)='save()' >{{saveStr}}</button>
    <button type="button" class="btn-lg btn-dark mb-1" (click)='close()'>Close</button>
 
  </td>
</tr>
</table>
 </div>


 <div *ngIf='!opened'>
       <h3>
          List of Designations
       </h3>
       
       <table style="width: 80%;">
       <tr>
           <td align="left" style="width: 50%;" *ngIf="addbuttonenable">
               <button type="button" *ngIf='!opened' class="btn-lg btn-success mr-1 mb-1" (click)='openNew()' >New</button>
            <!-- Tooltip Arrow -->
          <div
          class="tooltip-arrow"
          ngbTooltip="Click here to add a new country!"
          placement="right"
          container="body"
          [ngClass]="{'paused': isArrowPaused}"
          (mouseenter)="stopArrowMovement()"
          (mouseleave)="startArrowMovement()"
        >
          <span class="arrow">🢦</span>
          </div>
              </td>
           <td align="right" style="width: 50%;">
             &nbsp;
           </td>
       </tr>
       </table>
       
       <table class="table m-0" style="width: 80%;">
           <thead class="thead-light">
             <tr>
               <th>#</th>
               <th>Designation</th>
               <th>Department</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
            <tr *ngIf="!designations || taxes.designations === 0">
              <td colspan="7">
                <div style="text-align: center; font-weight: bold;">
                  <span style="font-size: 24px; margin-right: 5px;">⚠️</span>
                  <span style="color: black;">
                  The Designations from your company cannot be found. Please click the "New" button above to add a Designations.
                </span>
                </div>
              </td>
            </tr>
             <tr *ngFor='let desig of designations;let i=index'>
               <th scope="row" >{{i+1}}</th>
               <td>{{desig.Designation}}</td>
               <td>{{desig.department}}</td>
               <td *ngIf="modifybuttonenable"><i *ngIf='!opened' class="ft-edit font-medium-1"(click)='openOld(desig)'></i></td>
             </tr>
            
           </tbody>
         </table>
 </div>