<ngx-spinner></ngx-spinner>
<div class="row ">
    <div class="col-sm-12">
        <div class="content-header">CRM Dashboard</div>
   </div>
  </div>

  <div class="row">
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card card-inverse bg-primary">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="card-text">100</h3>
              <span>Total Customers</span>
            </div>
            <div class="media-right align-self-center">
              <i class="ft-arrow-up font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card card-inverse bg-warning">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="card-text">16</h3>
              <span>Bills to be submitted</span>
            </div>
            <div class="media-right align-self-center">
              <i class="ft-arrow-down font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card card-inverse bg-primary">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="card-text">55%</h3>
              <span>Target Month</span>
            </div>
            <div class="media-right align-self-center">
              <i class="ft-arrow-down font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card card-inverse bg-warning">
      <div class="card-content">
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="card-text">29%</h3>
              <span>Target Year</span>
            </div>
            <div class="media-right align-self-center">
              <i class="ft-arrow-up font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>






  
  <section id="apexchart">
    <div class="row">
       
      <!-- Bar Chart starts -->
      <div class="col-xl-12 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Credits to Clearances</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                  <apx-chart
                  [series]="barChartOptions.series"
                  [colors]="barChartOptions.colors"
                  [chart]="barChartOptions.chart"
                  [xaxis]="barChartOptions.xaxis"
                  [yaxis]="barChartOptions.yaxis"
                  [title]="barChartOptions.title"
                  [dataLabels]="barChartOptions.dataLabels"
                  [stroke]="barChartOptions.stroke"
                  [grid]="barChartOptions.grid"
                  [tooltip]="barChartOptions.tooltip"
                  [plotOptions]="barChartOptions.plotOptions"
                  [fill]="barChartOptions.fill"
                  [legend]="barChartOptions.legend"
                  [labels]="barChartOptions.labels"
                  [markers]="barChartOptions.markers"
                  [theme]="barChartOptions.theme"
                  [responsive]="barChartOptions.responsive"
                ></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <!-- Bar Chart ends -->
    <div class="col-xl-4 col-12">
        
    </div>
    </div>
    </section>


    <div class="row">
<div class="col-lg-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Top Business</h4>
        </div>
        <div class="card-content">
         

            <div class="row">
                <div class="col-12">
                  <div class="card">
                 
                    <div class="card-content">
                      <div class="card-body">
                       
                        <div class="table-responsive">
                          <table class="table m-0">
                            <thead class="thead-light">
                              <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th align="right">Mobile</th>
                                    <th align="right">prevdate</th>
                                    <th align="right">prevmode</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor='let customer of customers; let i=index'>
                                <th scope="row">{{i+1}}</th>
                                <td> {{customer.name}} </td>
                                <td align="right">{{customer.busi}}</td>
                                <td align="right">{{customer.prev}}</td>
                                <td align="right">{{customer.mod}}</td>
                              </tr>
                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


<div class="col-lg-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Top Credits</h4>
        </div>
        <div class="card-content">
         

            <div class="row">
                <div class="col-12">
                  <div class="card">
                 
                    <div class="card-content">
                      <div class="card-body">
                       
                        <div class="table-responsive">
                          <table class="table m-0">
                            <thead class="thead-light">
                              <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th align="right">Mobile</th>
                                    <th align="right">prevdate</th>
                                    <th align="right">prevmode</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor='let customer of customers; let i=index'>
                                <th scope="row">{{i+1}}</th>
                                <td> {{customer.name}} </td>
                                <td align="right">{{customer.busi}}</td>
                                <td align="right">{{customer.prev}}</td>
                                <td align="right">{{customer.mod}}</td>
                              </tr>
                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

</div>