<!--Login Page Starts-->
<section id="login">
    <div class="row auth-height full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card overflow-hidden">
          <div class="card-content">
            <div class="card-body auth-img">
              <div class="row m-0">
                <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                  <img src="assets/img/gallery/login.png" alt="" class="img-fluid" width="300" height="230">
                </div>
                <div class="col-lg-6 col-12 px-4 py-3">
                  <h4 class="mb-2 card-title">Change Password</h4>
                  
                  <ngb-alert type="light-danger" class="mb-2" *ngIf="isLoginMissmatch">
                    <p class="mb-0"> <font color=red> Miss match in passwords</font></p>
                  </ngb-alert>
  
  
                  <form [formGroup]="loginForm">
                    <div class="form-group">
                      <input type="text" formControlName="oldpassword" class="form-control" placeholder="Old Password"

                        required>
                   
                    </div>
                    
                    <div class="form-group">
                      <input type="password" formControlName="newpassword1" (input)='checkPasswordMatch()' class="form-control" placeholder="New Password"
                          required>
                     
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="newpassword2" (input)='checkPasswordMatch()' class="form-control" placeholder="Re enter new password"
                            required>
                       
                      </div>
  
                   
                    
                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                          <a  class="btn btn-primary" (click)="onSubmit()">Change</a>
                    </div>
                  </form>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                    
                    <ngx-spinner></ngx-spinner>
                    <div class="login-options">
                      <a class="btn btn-sm btn-social-icon btn-facebook mr-1"><span class="fa fa-facebook"></span></a>
                      <a class="btn btn-sm btn-social-icon btn-twitter mr-1"><span class="fa fa-twitter"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Login Page Ends-->
  