 <h3>{{actype}} Attachments</h3>
 <ngx-spinner></ngx-spinner>
<table style="width: 90%;">


<tr>
    <td style="width:40%">
    

        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Select {{actype}}</h5>
            </div>
            <div class="card-content">
                <div class="card-body">
    
        <div style="width: 100%; border-color: black; border-style: solid; border-width:thin; height: 450px; overflow-y: scroll;">
        
            <span *ngFor='let obj1 of treeObj'  >
                <i class="ft-chevron-right font-medium-1" *ngIf='!obj1.openCheck' (click)='toggleVisible(obj1)'></i>  
                <i class="ft-chevron-down font-medium-1" *ngIf='obj1.openCheck' (click)='toggleVisible(obj1)'></i>  <span (click)='toggleVisiblePlus(obj1)' > <font [color]="obj1.groupcode=='SPECIAL'? 'orange' : 'black'">  {{obj1.subGroup}} </font> </span> <br>
    
                <div  *ngIf='obj1.openCheck'>
                
                <span *ngFor='let obj2 of obj1.children' style="left: 32px; position: relative;"  >
                  <i class="ft-chevron-right font-medium-1" *ngIf='!obj2.openCheck' (click)='toggleVisible(obj2)'></i> 
                  <i class="ft-chevron-down font-medium-1" *ngIf='obj2.openCheck' (click)='toggleVisible(obj2)'></i>      <span (click)='toggleVisiblePlus(obj2)'> <font [color]="obj2.groupcode=='SPECIAL'? 'orange' : 'black'"> {{obj2.subGroup}} </font> </span><br>
                  
                  <div  *ngIf='obj2.openCheck'>
                  <span *ngFor='let obj3 of obj2.children' style="left: 32px; position: relative;" >
                    <i class="ft-chevron-right font-medium-1" *ngIf='!obj3.openCheck'  (click)='toggleVisible(obj3)'></i> 
                  <i class="ft-chevron-down font-medium-1" *ngIf='obj3.openCheck'  (click)='toggleVisible(obj3)'></i>      <span (click)='toggleVisiblePlus(obj3)'> <font [color]="obj3.groupcode=='SPECIAL'? 'orange' : 'black'">  {{obj3.subGroup}} </font> </span> <br>
                  </span>
                  </div>
    
                </span>
            </div>
            </span>
    
        </div>
                </div>
            </div>
        </div>
    
    
    
    </td>




    <td style="width:60%">



        
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{actype}} details here...</h5>
            </div>
            <div class="card-content">
                <div class="card-body">
    
        <div style="width: 100%; border-color: black; border-style: solid; border-width:thin; height: 450px; overflow-y: scroll;">
    <table style="width: 100%;">
    <tr>
      
        <td colspan="3">
            <input type="text" class="form-control" id="basicInput" [(ngModel)]='party'  placeholder="Supplier" disabled>
         </td>
    </tr>
    <tr>
      
        <td colspan="3">
            <input type="text" class="form-control" id="basicInput" [(ngModel)]='partygrp' placeholder="Supplier Group" disabled>
         </td>
    </tr>
    <tr>
           <td colspan="3">
            <input type="text" class="form-control" id="basicInput" [(ngModel)]='supplier.ConPerson' placeholder="Contact Person">
         </td>
    </tr>
    <tr>
        <td style="width: 35%;">
         <input type="text" class="form-control" id="basicInput" [(ngModel)]='supplier.Designation'  placeholder="Designation">
      </td>
      <td style="width: 35%;">
        <input type="email" class="form-control" id="basicInput" [(ngModel)]='supplier.Email' placeholder="Email">
     </td>
     <td style="width: 30%;">
        <input type="text" class="form-control" id="basicInput"  [(ngModel)]='supplier.Mobile' placeholder="Mobile">
     </td>
 </tr>

 <tr>
    <td style="width: 35%;">
     <input type="number" class="form-control" id="basicInput"  [(ngModel)]='supplier.LeadTime'  placeholder="Lead Time">
  </td>
  <td style="width: 35%;" align="right">
    
   
        <input type="checkbox" id="checkbox1"  [(ngModel)]='supplier.CrDaysChk' >
        <label><span>Check Credit Days</span></label>
    
     
    
 </td>
 <td style="width: 30%;">
    <input type="number" class="form-control" id="basicInput" [(ngModel)]='supplier.CrDays' placeholder="Credit Days">
 </td>
</tr>


<tr>
    <td style="width: 35%;">
     <select class="form-control" id="basicInput" [(ngModel)]='supplier.RestrictMode'> <option value="0">Select Restriction Mode</option>  <option value="1">None</option> <option value="2">Instruction</option> <option value="3">Restriction</option> </select>
  </td>
  <td style="width: 35%;" align="right"> 
    <div class="custom-control custom-checkbox">
        <input type="checkbox" id="checkbox2"  [(ngModel)]='supplier.CrAmtChk'>
        <label><span>Check Credit Amount</span></label>
      </div>
     
   
 </td>
 <td style="width: 30%;">
    <input type="number" class="form-control" id="basicInput"  [(ngModel)]='supplier.CrAmt' placeholder="Credit Amount">
 </td>
</tr>


<tr>
    <td style="width: 35%;">
     <input type="text" class="form-control" id="basicInput"  [(ngModel)]='supplier.Gst' placeholder="GST">
  </td>
  <td style="width: 35%;">
    <input type="email" class="form-control" id="basicInput"  [(ngModel)]='supplier.Pan'  placeholder="PAN">
 </td>
 <td style="width: 30%;">
    <input type="text" class="form-control" id="basicInput"  [(ngModel)]='supplier.Cin'  placeholder="CIN">
 </td>
 
</tr>
<tr>
    <td style="width: 35%;">
        <input type="text" class="form-control" id="basicInput"  [(ngModel)]='supplier.Din'  placeholder="DIN">
     </td>
     <td style="width: 35%;">
        <input type="checkbox" id="checkbox3" [(ngModel)]='supplier.SupCusChk'>
        <label><span>Also Customer</span></label>
    
    
    </td>
</tr>



<tr>
    <td style="width: 35%;">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="checkbox4" [(ngModel)]='supplier.EximChk'>
            <label><span>Authorised ExIm</span></label>
            </div>  </td>
  <td style="width: 35%;" align="right">
    <input type="text" class="form-control" id="basicInput"  placeholder="Air Destination" [(ngModel)]='supplier.AirDest'>
 </td>
 <td style="width: 30%;">
    <input type="text" class="form-control" id="basicInput"  placeholder="Sea Destination"  [(ngModel)]='supplier.SeaDest'>
 </td>
</tr>

<tr>
    <td colspan="3">
        <select class="form-control" id="basicInput" [(ngModel)]='supplier.BankForSecurity'> <option value="0" >Bank for Security</option>  
        
        <option *ngFor='let bank of banks' value="{{bank.accountId}}">{{bank.accountname}}</option>
        
        </select>
     </td>
</tr>
<tr>
    <td style="width: 35%;">  <input type="text" class="form-control" id="basicInput"  placeholder="User Code"  [(ngModel)]='supplier.usercode' [disabled]='!prevchk'></td>
    <td style="width: 35%;">  <input type="text" class="form-control" id="basicInput"  placeholder="Supplier Code"  [(ngModel)]='supplier.partyCode' [disabled]='!prevchk'></td>
    <td style="width: 30%;"></td>
</tr>


    </table>
    
        </div></div></div></div>
    </td>
</tr>
<tr>
<td style="width: 30%;">
    
    <button type="button" class="btn btn-info mr-1 mb-1" (click)='save()' >Save</button>
  
</td>
<td style="width: 70%;">
</td>
</tr>

</table>